In [1]:
import pandas as pd

df = pd.read_csv('Motor_Vehicle_Collisions.csv')

print(df.head())

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [ ]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
2104408,07/15/2024,23:21,BRONX,10460.0,40.842710,-73.885666,"(40.84271, -73.885666)",SOUTHERN BOULEVARD,EAST TREMONT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4740692,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
2104409,07/14/2024,0:05,BROOKLYN,11236.0,40.640000,-73.901940,"(40.64, -73.90194)",AVENUE J,EAST 93 STREET,NaN,...,NaN,NaN,NaN,NaN,4741085,Sedan,NaN,NaN,NaN,NaN
2104410,07/13/2024,13:54,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE UPPER,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4741095,LIMO,Sedan,NaN,NaN,NaN
2104411,07/10/2024,16:43,NaN,NaN,40.662125,-73.901060,"(40.662125, -73.90106)",JUNIUS STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4741131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2104412,07/15/2024,8:35,BROOKLYN,11222.0,40.721947,-73.942010,"(40.721947, -73.94201)",ENGERT AVENUE,MONITOR STREET,NaN,...,Unspecified,NaN,NaN,NaN,4740734,Box Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2104413 entries, 0 to 2104412
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 465.6+ MB

In [ ]:
df.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.868840e+06,1.868840e+06,2.104395e+06,2.104382e+06,2.104413e+06,2.104413e+06,2.104413e+06,2.104413e+06,2.104413e+06,2.104413e+06,2.104413e+06
mean,4.062451e+01,-7.374634e+01,3.137111e-01,1.514934e-03,5.702920e-02,7.508032e-04,2.723800e-02,1.173724e-04,2.255712e-01,6.229766e-04,3.181209e+06
std,2.012501e+00,3.777380e+00,7.033907e-01,4.109092e-02,2.450227e-01,2.797415e-02,1.648273e-01,1.087700e-02,6.645968e-01,2.728072e-02,1.505863e+06
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,4.066769e+01,-7.397481e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.162223e+06
50%,4.072065e+01,-7.392722e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.688458e+06
75%,4.076961e+01,-7.386674e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.214799e+06
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.741216e+06

In [ ]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [ ]:
df.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [ ]:
df.shape

(2104413, 29)

In [ ]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           654588
ZIP CODE                          654847
LATITUDE                          235573
LONGITUDE                         235573
LOCATION                          235573
ON STREET NAME                    448939
CROSS STREET NAME                 799240
OFF STREET NAME                  1747847
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6992
CONTRIBUTING FACTOR VEHICLE 2     328277
CONTRIBUTING FACTOR VEHICLE 3    1953527
CONTRIBUTING FACTOR VEHICLE 4    2070236
CONTRIBUTING FACTOR VEHICLE 5    2095133
COLLISION_ID                           0
VEHICLE TYPE CODE 1                14139
VEHICLE TYPE CODE 2               406109
VEHICLE TYPE CODE 3              1959101
VEHICLE TYPE CODE 4              2071436
VEHICLE TYPE CODE 5              2095416
dtype: int64

In [ ]:
df['BOROUGH'].value_counts()

BOROUGH
BROOKLYN         461811
QUEENS           388843
MANHATTAN        323844
BRONX            214478
STATEN ISLAND     60849
Name: count, dtype: int64

In [ ]:
df['ZIP CODE'].value_counts()

ZIP CODE
11207.0    21261
11236.0    15215
11234.0    13869
11203.0    13821
11385.0    13785
           ...
10166.0        1
10153          1
11241.0        1
10162          1
11371.0        1
Name: count, Length: 426, dtype: int64

In [ ]:
df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       713834
Driver Inattention/Distraction    422400
Failure to Yield Right-of-Way     125200
Following Too Closely             112781
Backing Unsafely                   77603
                                   ...
Windshield Inadequate                 82
Cell Phone (hand-held)                79
Texting                               53
Listening/Using Headphones            26
1                                     10
Name: count, Length: 61, dtype: int64

In [ ]:
df['VEHICLE TYPE CODE 1'].value_counts()

VEHICLE TYPE CODE 1
Sedan                                  589461
Station Wagon/Sport Utility Vehicle    463671
PASSENGER VEHICLE                      416206
SPORT UTILITY / STATION WAGON          180291
Taxi                                    52355
                                        ...
Pas                                         1
Attac                                       1
NTTRL                                       1
EMS bus                                     1
City Bus                                    1
Name: count, Length: 1677, dtype: int64