# Table of Contents
1. [Introduction](#introduction)
2. [Data Overview](#data-overview)
3. [Data Cleaning](#data-cleaning)
4. [Exploratory Data Analysis (EDA)](#exploratory-data-analysis-eda)
5. [Modeling](#modeling)
6. [Results](#results)
7. [Conclusion](#conclusion)
8. [References](#references)

## Introduction

In Progress!

## Data Overview

In [320]:
import pandas as pd

This project primarily makes use of three datasets, available all NYC Open Data. The datasets all belong to the same relational database and are connected via identifying keys. Detailed information for each dataset is provided in the respective section with a more comprehensive analyzation on the combined datasets

### Data Sets Being Used

#### Motor Vehicle Collsions - Crashes

This dataset, and the corresponding metadata is made publicly available at NYC Open Data (https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/about_data)

In [321]:
df = pd.read_csv('Motor_Vehicle_Collisions_.csv')
df.info()

/var/folders/c0/_kktl72s23n7b2y70d5d7ldc0000gn/T/ipykernel_68511/2896177649.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Motor_Vehicle_Collisions_.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2104709 entries, 0 to 2104708
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 465.7+ MB

### Data Characteristics

In [322]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2104709 entries, 0 to 2104708
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 465.7+ MB

In [323]:
df.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.869111e+06,1.869111e+06,2.104691e+06,2.104678e+06,2.104709e+06,2.104709e+06,2.104709e+06,2.104709e+06,2.104709e+06,2.104709e+06,2.104709e+06
mean,4.062450e+01,-7.374632e+01,3.137487e-01,1.514721e-03,5.703021e-02,7.506976e-04,2.724557e-02,1.173559e-04,2.255979e-01,6.228890e-04,3.181428e+06
std,2.012576e+00,3.777492e+00,7.034423e-01,4.108803e-02,2.450227e-01,2.797218e-02,1.648487e-01,1.087623e-02,6.646518e-01,2.727881e-02,1.505870e+06
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,4.066768e+01,-7.397481e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.162297e+06
50%,4.072065e+01,-7.392723e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.688606e+06
75%,4.076961e+01,-7.386674e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.215021e+06
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.741471e+06

In [324]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [325]:
df.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [326]:
df['BOROUGH'].value_counts()

BOROUGH
BROOKLYN         461892
QUEENS           388890
MANHATTAN        323886
BRONX            214506
STATEN ISLAND     60853
Name: count, dtype: int64

In [327]:
df['ZIP CODE'].value_counts()

ZIP CODE
11207.0    21262
11236.0    15220
11234.0    13876
11203.0    13826
11385.0    13786
           ...
10166.0        1
10153          1
11241.0        1
10162          1
11371.0        1
Name: count, Length: 426, dtype: int64

In [328]:
df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       713911
Driver Inattention/Distraction    422473
Failure to Yield Right-of-Way     125222
Following Too Closely             112805
Backing Unsafely                   77612
                                   ...
Windshield Inadequate                 82
Cell Phone (hand-held)                79
Texting                               53
Listening/Using Headphones            26
1                                     10
Name: count, Length: 61, dtype: int64

In [329]:
df['VEHICLE TYPE CODE 1'].value_counts()

VEHICLE TYPE CODE 1
Sedan                                  589599
Station Wagon/Sport Utility Vehicle    463770
PASSENGER VEHICLE                      416206
SPORT UTILITY / STATION WAGON          180291
Taxi                                    52360
                                        ...
CONCR                                       1
CHERR                                       1
STREET                                      1
NYC                                         1
U-HAUL                                      1
Name: count, Length: 1678, dtype: int64

In [330]:
df['NUMBER OF PEDESTRIANS KILLED'].value_counts()

NUMBER OF PEDESTRIANS KILLED
0    2103150
1       1544
2         13
6          1
4          1
Name: count, dtype: int64

In [331]:
df['NUMBER OF PERSONS KILLED'].value_counts()

NUMBER OF PERSONS KILLED
0.0    2101618
1.0       2964
2.0         77
3.0         12
4.0          4
5.0          2
8.0          1
Name: count, dtype: int64

In [332]:
df['NUMBER OF CYCLIST KILLED'].value_counts()

NUMBER OF CYCLIST KILLED
0    2104463
1        245
2          1
Name: count, dtype: int64

In [333]:
df['NUMBER OF MOTORIST KILLED'].value_counts()

NUMBER OF MOTORIST KILLED
0    2103496
1       1137
2         60
3         12
4          2
5          2
Name: count, dtype: int64

## Data Cleaning

### Missing Values

In [334]:
# Remove trailing and leading spaces
df['ON STREET NAME'] = df['ON STREET NAME'].str.strip()

# Lowercase the ON STREET NAME column
df['ON STREET NAME'] = df['ON STREET NAME'].str.lower()

In [335]:
print(df.isnull().sum())

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           654682
ZIP CODE                          654941
LATITUDE                          235598
LONGITUDE                         235598
LOCATION                          235598
ON STREET NAME                    449043
CROSS STREET NAME                 799411
OFF STREET NAME                  1748039
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6995
CONTRIBUTING FACTOR VEHICLE 2     328336
CONTRIBUTING FACTOR VEHICLE 3    1953796
CONTRIBUTING FACTOR VEHICLE 4    2070527
CONTRIBUTING FACTOR VEHICLE 5    2095429
COLLISION_ID                           0
VEHICLE TYPE CODE 1                14145
VEHICLE TYPE CODE 2               406204
VEHICLE TYPE CODE 3              1959372
VEHICLE TYPE CODE 4              2071727
VEHICLE TYPE CODE 5              2095712
dtype: int64

In [336]:
missing_percentage = df.isnull().mean() * 100
print("Percentage of missing values in each column:")
print(missing_percentage)

Percentage of missing values in each column:
CRASH DATE                        0.000000
CRASH TIME                        0.000000
BOROUGH                          31.105583
ZIP CODE                         31.117889
LATITUDE                         11.193852
LONGITUDE                        11.193852
LOCATION                         11.193852
ON STREET NAME                   21.335158
CROSS STREET NAME                37.982020
OFF STREET NAME                  83.053714
NUMBER OF PERSONS INJURED         0.000855
NUMBER OF PERSONS KILLED          0.001473
NUMBER OF PEDESTRIANS INJURED     0.000000
NUMBER OF PEDESTRIANS KILLED      0.000000
NUMBER OF CYCLIST INJURED         0.000000
NUMBER OF CYCLIST KILLED          0.000000
NUMBER OF MOTORIST INJURED        0.000000
NUMBER OF MOTORIST KILLED         0.000000
CONTRIBUTING FACTOR VEHICLE 1     0.332350
CONTRIBUTING FACTOR VEHICLE 2    15.600066
CONTRIBUTING FACTOR VEHICLE 3    92.829745
CONTRIBUTING FACTOR VEHICLE 4    98.375928
CONTRIBUTING FACTOR VEHICLE 5    99.559084
COLLISION_ID                      0.000000
VEHICLE TYPE CODE 1               0.672064
VEHICLE TYPE CODE 2              19.299770
VEHICLE TYPE CODE 3              93.094675
VEHICLE TYPE CODE 4              98.432943
VEHICLE TYPE CODE 5              99.572530
dtype: float64

#### Persons Injured and Persons Killed

In [337]:
print(df['NUMBER OF PERSONS INJURED'].value_counts())
print(df['NUMBER OF PERSONS KILLED'].value_counts())

NUMBER OF PERSONS INJURED
0.0     1617747
1.0      377856
2.0       71231
3.0       23292
4.0        8634
5.0        3296
6.0        1393
7.0         586
8.0         263
9.0         131
10.0         85
11.0         52
12.0         32
13.0         27
15.0         16
14.0          9
16.0          8
17.0          6
18.0          6
19.0          4
22.0          3
24.0          3
20.0          2
43.0          1
34.0          1
23.0          1
21.0          1
31.0          1
32.0          1
27.0          1
40.0          1
25.0          1
Name: count, dtype: int64
NUMBER OF PERSONS KILLED
0.0    2101618
1.0       2964
2.0         77
3.0         12
4.0          4
5.0          2
8.0          1
Name: count, dtype: int64

A very small percentage of both of these columns are missing values. I think it's safe to assume that we can replace both with values of zero since the overwhelming majority of incidents had no casualties or injuries.

Since there are no missing values for any of the individual fields which would be tallied to get the total number of persons killed or injured, it's further likely that these values truly are missing at random and likely are zero. 

None the less we will quickly inspect the missing values of both the aformentioned columns

In [338]:
nan = df[df['NUMBER OF PERSONS KILLED'].isna()]
nan['CONTRIBUTING FACTOR VEHICLE 1']

514939                                NaN
517354     Driver Inattention/Distraction
543008                        Unspecified
548812     Driver Inattention/Distraction
563331                 Turning Improperly
564255                Driver Inexperience
569555                        Unspecified
590390                 Lost Consciousness
597588     Driver Inattention/Distraction
640683                                NaN
650017                        Unspecified
668996                        Unspecified
728756                        Unspecified
729028                                NaN
762388                        Unspecified
801797                                NaN
802921                        Unspecified
810865                        Unspecified
851592               Unsafe Lane Changing
869273                        Unspecified
881764     Driver Inattention/Distraction
895864                                NaN
901074                        Unspecified
911375                        Unspecified
919529                        Unspecified
931477                  Oversized Vehicle
949503     Driver Inattention/Distraction
952124     Driver Inattention/Distraction
957765                        Unspecified
963653                                NaN
1151159                   Other Vehicular
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: object

In [339]:
nan = df[df['NUMBER OF PERSONS INJURED'].isna()]
nan['NUMBER OF PERSONS KILLED']

182306     0.0
569555     NaN
618950     0.0
668996     NaN
712103     0.0
728756     NaN
778036     0.0
801797     NaN
804176     0.0
810865     NaN
832805     0.0
851592     NaN
869273     NaN
895864     NaN
901074     NaN
931477     NaN
957765     NaN
1151159    NaN
Name: NUMBER OF PERSONS KILLED, dtype: float64

Theres quite a few values in the NUMBER OF PERSONS INJURED column that are also missing values for NUMBER OF PERSONS KILLED. However none of these datapoints are missing the individual tallies for motorists, pedestrians or cyclists and given that such a small portion of the dataset is missing these values the potential bias for incorrectly attributing 0's is limited.

In [340]:
# Replace NaN values with 0 in specific columns
columns_to_fill = ['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED']
df[columns_to_fill] = df[columns_to_fill].fillna(0)
print(df.isnull().sum())

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           654682
ZIP CODE                          654941
LATITUDE                          235598
LONGITUDE                         235598
LOCATION                          235598
ON STREET NAME                    449043
CROSS STREET NAME                 799411
OFF STREET NAME                  1748039
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6995
CONTRIBUTING FACTOR VEHICLE 2     328336
CONTRIBUTING FACTOR VEHICLE 3    1953796
CONTRIBUTING FACTOR VEHICLE 4    2070527
CONTRIBUTING FACTOR VEHICLE 5    2095429
COLLISION_ID                           0
VEHICLE TYPE CODE 1                14145
VEHICLE TYPE CODE 2               406204
VEHICLE TYPE CODE 3              1959372
VEHICLE TYPE CODE 4              2071727
VEHICLE TYPE CODE 5              2095712
dtype: int64

#### Bridges

Simply looking at the first few values it is apparent that there are no values in the Borough, Longitude, Latitude or Zipcode columns for any accident that happened on a bridge. This leads me to believe that accidents that happened on bridges are of the Missing Not at Random and should be handled appropriately in order to avoid introducing bias into our models.

In [341]:
# Remove trailing and leading spaces
df['ON STREET NAME'] = df['ON STREET NAME'].str.strip()

# Lowercase the ON STREET NAME column
df['ON STREET NAME'] = df['ON STREET NAME'].str.lower()


# Define the keyword

keyword = "bridge"

# Filter the DataFrame to find rows containing the keyword
bridges = df[
    df['ON STREET NAME'].str.contains(keyword, case=False, na=False) &
    (df['LATITUDE'].isna() | df['LONGITUDE'].isna() | df['BOROUGH'].isna() | df['ZIP CODE'].isna() | df['CROSS STREET NAME'].isna())
]

# Keywords to filter out
keywords = ['williamsbridge', 'bainbridge', 'kingsbridge', 'bridge street', 'cambridge', 'pelham', 'bridgetown', 'bridgewater court', 'kingsgbridge', 'north bridge st', 'brooklyn bridge blvd', 'bridge plaza ct', 'bridgewater street' ,'outerbridge crossing', 'n bridge st', 'woodbridge place', 'w kingsrbridge rd', 'bridge plz s', 'foot bridge ext', 'bruckner boulevard draw bridge']

# Create a boolean mask where True indicates rows to keep
mask = ~bridges['ON STREET NAME'].str.contains('|'.join(keywords), case=False, na=False)

# Apply the mask to the DataFrame
bridges = bridges[mask]

# Display the filtered rows for inspection
print("Rows containing the keyword 'bridge' with NaN values in LATITUDE, LONGITUDE, or BOROUGH:")
print(bridges)

Rows containing the keyword 'bridge' with NaN values in LATITUDE, LONGITUDE, or BOROUGH:
         CRASH DATE CRASH TIME BOROUGH ZIP CODE  LATITUDE  LONGITUDE LOCATION  \
1        03/26/2022      11:45     NaN      NaN       NaN        NaN      NaN
2        06/29/2022       6:55     NaN      NaN       NaN        NaN      NaN
34       06/29/2022      16:00     NaN      NaN       NaN        NaN      NaN
36       07/07/2021      11:42     NaN      NaN       NaN        NaN      NaN
150      08/05/2021      18:17     NaN      NaN       NaN        NaN      NaN
...             ...        ...     ...      ...       ...        ...      ...
2104461  07/16/2024       8:46     NaN      NaN       NaN        NaN      NaN
2104505  07/14/2024      17:35     NaN      NaN       NaN        NaN      NaN
2104590  07/11/2024      12:59     NaN      NaN       NaN        NaN      NaN
2104677  07/14/2024       9:45     NaN      NaN       NaN        NaN      NaN
2104705  07/14/2024      14:40     NaN      NaN       NaN        NaN      NaN

                           ON STREET NAME CROSS STREET NAME OFF STREET NAME  \
1                 queensboro bridge upper               NaN             NaN
2                      throgs neck bridge               NaN             NaN
34       williamsburg bridge outer roadwa               NaN             NaN
36                     throgs neck bridge               NaN             NaN
150                      verrazano bridge               NaN             NaN
...                                   ...               ...             ...
2104461           queensboro bridge upper               NaN             NaN
2104505                 triborough bridge               NaN             NaN
2104590            verrazano bridge upper               NaN             NaN
2104677                 triborough bridge               NaN             NaN
2104705            verrazano bridge upper               NaN             NaN

         ...  CONTRIBUTING FACTOR VEHICLE 2  CONTRIBUTING FACTOR VEHICLE 3  \
1        ...                            NaN                            NaN
2        ...                    Unspecified                            NaN
34       ...                    Unspecified                            NaN
36       ...                    Unspecified                            NaN
150      ...                    Unspecified                            NaN
...      ...                            ...                            ...
2104461  ...                            NaN                            NaN
2104505  ...                    Unspecified                    Unspecified
2104590  ...                    Unspecified                            NaN
2104677  ...                    Unspecified                    Unspecified
2104705  ...                    Unspecified                            NaN

         CONTRIBUTING FACTOR VEHICLE 4  CONTRIBUTING FACTOR VEHICLE 5  \
1                                  NaN                            NaN
2                                  NaN                            NaN
34                                 NaN                            NaN
36                                 NaN                            NaN
150                                NaN                            NaN
...                                ...                            ...
2104461                            NaN                            NaN
2104505                            NaN                            NaN
2104590                            NaN                            NaN
2104677                            NaN                            NaN
2104705                            NaN                            NaN

         COLLISION_ID  VEHICLE TYPE CODE 1  \
1             4513547                Sedan
2             4541903                Sedan
34            4542336         Motorscooter
36            4456591                Sedan
150           4456746                Sedan
...               ...                  ...
2104461       4740903           Motorcycle
2104505       4741426                Sedan
2104590       4741309        Pick-up Truck
2104677       4741312                 subn
2104705       4741320                Sedan

                         VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3  \
1                                        NaN                  NaN
2                              Pick-up Truck                  NaN
34       Station Wagon/Sport Utility Vehicle                  NaN
36                                     Sedan                  NaN
150                                    Sedan                  NaN
...                                      ...                  ...
2104461                                  NaN                  NaN
2104505                                 Taxi                Sedan
2104590                                Sedan                  NaN
2104677                                 subn                 subn
2104705  Station Wagon/Sport Utility Vehicle                  NaN

        VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
1                       NaN                 NaN
2                       NaN                 NaN
34                      NaN                 NaN
36                      NaN                 NaN
150                     NaN                 NaN
...                     ...                 ...
2104461                 NaN                 NaN
2104505                 NaN                 NaN
2104590                 NaN                 NaN
2104677                 NaN                 NaN
2104705                 NaN                 NaN

[19043 rows x 29 columns]

##### Consolidating Bridges

In [342]:
bridges

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,queensboro bridge upper,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,throgs neck bridge,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
34,06/29/2022,16:00,NaN,NaN,NaN,NaN,NaN,williamsburg bridge outer roadwa,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4542336,Motorscooter,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
36,07/07/2021,11:42,NaN,NaN,NaN,NaN,NaN,throgs neck bridge,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4456591,Sedan,Sedan,NaN,NaN,NaN
150,08/05/2021,18:17,NaN,NaN,NaN,NaN,NaN,verrazano bridge,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4456746,Sedan,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2104461,07/16/2024,8:46,NaN,NaN,NaN,NaN,NaN,queensboro bridge upper,NaN,NaN,...,NaN,NaN,NaN,NaN,4740903,Motorcycle,NaN,NaN,NaN,NaN
2104505,07/14/2024,17:35,NaN,NaN,NaN,NaN,NaN,triborough bridge,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,4741426,Sedan,Taxi,Sedan,NaN,NaN
2104590,07/11/2024,12:59,NaN,NaN,NaN,NaN,NaN,verrazano bridge upper,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4741309,Pick-up Truck,Sedan,NaN,NaN,NaN
2104677,07/14/2024,9:45,NaN,NaN,NaN,NaN,NaN,triborough bridge,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,4741312,subn,subn,subn,NaN,NaN
2104705,07/14/2024,14:40,NaN,NaN,NaN,NaN,NaN,verrazano bridge upper,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4741320,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [343]:
bridge_mapping = {
    'verrazano bridge upper': 'verrazano bridge',
    'verrazano bridge lower': 'verrazano bridge',
    'verrazano bridge approach': 'verrazano bridge',
    'verrazano bridge approach': 'verrazano bridge',
    'narrows bridge': 'verrazano bridge',
    'verrazano-narrows bridge': 'verrazano bridge',
    'verrazano narrows bridge': 'verrazano bridge',
    'verrazano bridge': 'verrazano bridge',
    'verrazano bridge ll eb rw2 sslp2': 'verrazano bridge',
    'verrazanno narrows bridge': 'verrazano bridge',
    'i278 verrazano bridge eb toll pl': 'verrazano bridge',
    'verrazano bridge': 'verrazano bridge',
    'verrazano narrows bridge/ si tol': 'verrazano bridge',
    'varrazano bridge v/l rw2, la190': 'verrazano bridge',
    'verrazano narrows bridge l/l': 'verrazano bridge',
    'verrazzano narrows bridge': 'verrazano bridge',
    '1278-w-verrazano bridge': 'verrazano bridge',
    'verrazano narrows  bridge upper': 'verrazano bridge',
    'vz bridge w/b rdwy': 'verrazano bridge',
    'verrazanno bridge': 'verrazano bridge',
    'verrizano narrows bridge/upper l': 'verrazano bridge',
    'verrazano bridge': 'verrazano bridge',
    'vz bridge w/b rdwy 1': 'verrazano bridge',
    'e/b verrazano narrows bridge ll': 'verrazano bridge',
    'w/b verrazano narrows bridge': 'verrazano bridge',
    'verrazano bridge toll plaza': 'verrazano bridge',
    'verrazano bridge ul eb rw2 lp191': 'verrazano bridge',
    'vzb bridge': 'verrazano bridge',
    'verrazano bridge toll': 'verrazano bridge',
    'verrazano narrows bridge w/b tol': 'verrazano bridge',
    'verrazano bridge , l/l ss542': 'verrazano bridge',

    'brooklyn bridge': 'brooklyn bridge',
    'bklyn bridge exit ramp': 'brooklyn bridge',
    'n/b brooklyn bridge': 'brooklyn bridge',
    'brooklyn bridge exit ramp': 'brooklyn bridge',
    'n/b brooklyn bridge': 'brooklyn bridge',
    'brooklyn bridge walkway': 'brooklyn bridge',
    'brooklyn bridge ramp': 'brooklyn bridge',
    'brooklyn bridge promenade': 'brooklyn bridge',
    
    'alexander hamilton bridge': 'alexander hamilton bridge',
    
    'williamsburgh bridge': 'williamsburg bridge',
    'williamsburg bridge outer roadwa': 'williamsburg bridge',
    'williamsburg bridge inner roadwa': 'williamsburg bridge',
    'williamsburg bridge approach': 'williamsburg bridge',
    'williamsburg bridge exit ramp': 'williamsburg bridge',
    
    'queensboro bridge lower roadway': 'queensboro bridge',
    'queensboro bridge upper roadway': 'queensboro bridge',
    'queensboro bridge lower': 'queensboro bridge',
    'queensboro bridge upper': 'queensboro bridge',
    'ed koch queensbury bridge': 'queensboro bridge',
    'koch bridge': 'queensboro bridge',
    'queens borough bridge': 'queensboro bridge',
    'queens bridge entrance lower lvl': 'queensboro bridge',
    '61 ed koch queensborough bridge': 'queensboro bridge',
    'ramp of queens boro bridge': 'queensboro bridge',
    'ed koch bridge upper rdwy': 'queensboro bridge',
    'ed koch bridge exit ramp': 'queensboro bridge',
    'ed koch bridge entrance': 'queensboro bridge',
    'ed kotch bridge entrance': 'queensboro bridge',
    'ed koch bridge': 'queensboro bridge',
    'ed koch bridge upper level': 'queensboro bridge',
    'ed koch queensborough bridge': 'queensboro bridge',
    'ed koch queensboro bridge': 'queensboro bridge',
    'ed koch queensboro bridge upper': 'queensboro bridge',
    'queens borough bridge exit ramp': 'queensboro bridge',
    'queensborough bridge': 'queensboro bridge',
    'queens boro bridge': 'queensboro bridge',
    'edkoch bridge roadway': 'queensboro bridge',
    'queensboro bridge outer roadway': 'queensboro bridge',
    'queensboro bridge outer': 'queensboro bridge',
    'queensboro bridge': 'queensboro bridge',
    'queensboro bridge approach': 'queensboro bridge',
    '59th st bridge': 'queensboro bridge',
    '59 street bridge': 'queensboro bridge',
    '59th street bridge': 'queensboro bridge',
    'queensboro bridge upper level': 'queensboro bridge',
    'queensboro bridge upper level': 'queensboro bridge',
    'ed koch bridge upper roadway': 'queensboro bridge',
    'ed moch bridge': 'queensboro bridge',
    'edkoch bridge': 'queensboro bridge',
    'edkoch queensboro bridge': 'queensboro bridge',
    'queensboro  bridge': 'queensboro bridge',
    'es koch bridge': 'queensboro bridge',
    'ed koch bridge upper level exit': 'queensboro bridge',
    'ed koch bridge lower level': 'queensboro bridge',
    'ed koch queensboro bridge entran': 'queensboro bridge',
    'ed kock bridge': 'queensboro bridge',
    'queens borough bridge approach s': 'queensboro bridge',
    'queensborough bridge roadway': 'queensboro bridge',
    'queensboro bridge lower level': 'queensboro bridge',
    'ed kodch bridge': 'queensboro bridge',
    'queens boro bridge upper level': 'queensboro bridge',
    'ed koch bridge lower': 'queensboro bridge',
    '59 street bridge ramp': 'queensboro bridge',

    'rfk bridge rd 43 l.p. 172': 'rfk bridge',
    'rfk bridge manh plaza': 'rfk bridge',
    'robert f kennedy bridge manhatta': 'rfk bridge',
    'rfk bridge n/b roadway 3 & 4 lp': 'rfk bridge',
    'rfk bridge off bound fdr rdwy @': 'rfk bridge',
    'w/b rfk bridge r/w 2&3. lp m48': 'rfk bridge',
    'rfk bridge w/b 125 st ramp rw 3,': 'rfk bridge',
    'rfk bridge w/b toll lane 20': 'rfk bridge',
    'robert f kennedy bridge roadway': 'rfk bridge',
    '1 278 robert f kennedy bridge n/': 'rfk bridge',
    'rfk bridge qns-man ramp rdwy 1 l': 'rfk bridge',
    'robert f kennedy bridge approach': 'rfk bridge',
    'robert f kennedy bridge': 'rfk bridge',
    'rober f kennedy bridge': 'rfk bridge',
    'rfk bridge manhattan toll plaza': 'rfk bridge',
    'robert f. kennedy bridge': 'rfk bridge',
    'rfk bridge queens to manhattan r': 'rfk bridge',
    'robert f kennedy bridge rdwy #2': 'rfk bridge',
    'i278 robert f kennedy bridge rdw': 'rfk bridge',
    'i 278 n/b rfk bridge bronx toll': 'rfk bridge',
    'rfk bridge-bronx man ramp lp bm4': 'rfk bridge',
    'rfk bridge n/b rdwy 2 lp q86 mai': 'rfk bridge',
    'robert f kennedy bridge w/b toll': 'rfk bridge',
    'rfk bridge n/b bronx plaza ez pa': 'rfk bridge',
    'rfk bridge man span s r 9000g w/': 'rfk bridge',
    'rfk bridge bronx nb roadway 2&3': 'rfk bridge',
    'rfk bridge bronx toll plaza ez p': 'rfk bridge',
    'i 278 s/b rfk bridge rw 2 & 3 lp': 'rfk bridge',
    'i278 rfk bridge': 'rfk bridge',
    'rfk bridge w/b rdy 3 l.p. ln1': 'rfk bridge',
    'rfk bridge n/b bx plaza cash l 1': 'rfk bridge',
    'rfk bridge bronx n/b roadway 3 l': 'rfk bridge',
    'rfk bridge w/b rdwys 2&3 at l/p': 'rfk bridge',
    'n/b rfk bridge r/w 3.lp qm1': 'rfk bridge',
    'rfk bridge bronx n/b roadway 1 &': 'rfk bridge',
    'n/b rfk bridge roadway 1 lp bx 2': 'rfk bridge',
    'rfk bridge bronx s/b roadway 4 l': 'rfk bridge',
    'i278 rfk bridge rdwys 3 & 4 lp q': 'rfk bridge',
    'n/b rfk bridge r/w# 3, lp 96': 'rfk bridge',
    'i 278 s/b rfk bridge lp q64 rwy': 'rfk bridge',
    'rfk bridge n/b bronx toll plaza': 'rfk bridge',
    'rfk bridge n/b r/w 2 & 3, lp q96': 'rfk bridge',
    'robert f kennedy bridge man span': 'rfk bridge',
    'rfk bridge w/b toll plaza at la': 'rfk bridge',
    'rfk bridge bronx w/b roadway 3 l': 'rfk bridge',
    'rfk bridge manh plaza w/b lane 1': 'rfk bridge',
    'rfk bridge bronx toll plz, r/w 2': 'rfk bridge',
    'rfk bridge w/b toll plaza at lan': 'rfk bridge',
    'rkf bridge lp77m hrd ramp on bou': 'rfk bridge',
    'n/b rfk bridge bx toll plaza lan': 'rfk bridge',
    'robert f. kennedy bridge n/b rdw': 'rfk bridge',
    'n/b rfk bridge, bx toll plz lane': 'rfk bridge',
    'rfk bridge e/b manhattan toll pl': 'rfk bridge',
    'robert f kennedy bridge manhatan': 'rfk bridge',
    'rfk bridge n/b toll plaza lane 1': 'rfk bridge',
    'rfk bridge manhattan plaza w/b e': 'rfk bridge',
    'rfk bridge east bound l 15/17': 'rfk bridge',
    'rfk bridge queens span': 'rfk bridge',
    'rfk bridge toll plaza 50\' 1/f/o': 'rfk bridge',
    'rfk bridge lp 173 mn rdwy 3': 'rfk bridge',
    'robert f kennedy bridge w/b manh': 'rfk bridge',
    'rfk bridge lp bx04 rdwy#2&3': 'rfk bridge',
    'rfk bridge randalls/queens ram p': 'rfk bridge',
    'rfk bridge s/b rdwy #2 at lp #24': 'rfk bridge',
    '1278 e/b rfk bridge rdwy 4 >1 @': 'rfk bridge',
    'rfk bridge w/b 126 street ramp r': 'rfk bridge',
    'robert f kennedy bridge rdwy 2': 'rfk bridge',
    'rfk bridge i278': 'rfk bridge',
    'rfk bridge w/b rdwy 2&3 queens/m': 'rfk bridge',
    'rfk bridge bx plaza cash l 10': 'rfk bridge',
    'entrance ramp rfk bridge': 'rfk bridge',
    'rfk bridge bronx toll plaza lane': 'rfk bridge',
    'rfk bridge e/b on the 125 st & 1': 'rfk bridge',
    'rfk bridge manhattan side': 'rfk bridge',
    'rfk bridge w/b rdwy 1 lp 163 mn': 'rfk bridge',
    'rfk bridge w/b manhattan toll pl': 'rfk bridge',
    'rfk bridge bx plaza lane 10 n/b': 'rfk bridge',
    'rfk bridge lane 7 bx toll plaza': 'rfk bridge',
    'rfk bridge fdr ramp': 'rfk bridge',
    '1 900 g robert f kennedy bridge': 'rfk bridge',
    'i-278 e/b rfk bridge lp q44 road': 'rfk bridge',
    'i278 s/b rfk bridge bx span rdwy': 'rfk bridge',
    'rfk bridge w/b toll plaza l-10,1': 'rfk bridge',
    'rfk bridge bronx n/b roadway 2&3': 'rfk bridge',
    'robert f kennedy bridge rdwy #1': 'rfk bridge',
    'rfk bridge rw 3 lp bx29': 'rfk bridge',
    'rfk bridge bx toll plaza lane 11': 'rfk bridge',
    'rfk bridge rd 43 l.p. 172 ': 'rfk bridge',
    'rfk bridge bronx s/b roadway 1&2': 'rfk bridge',
    '1 900 g robert f kennedy bridge': 'rfk bridge',
    'rfk bridge w/b queens/manhattan': 'rfk bridge',
    'rfk bridge manhattan plaza/cash': 'rfk bridge',
    'triboro bridge & tunnel authorit': 'rfk bridge',
    
    '3 avenue bridge ramp': '3rd avenue bridge',
    'third avenue bridge': '3rd avenue bridge',
    '3rd avenue bridge': '3rd avenue bridge',
    'third ave bridge': '3rd avenue bridge',
    '3rd ave bridge': '33rd avenue bridge',
    '3 avenue bridge': '3rd avenue bridge',
    'w/b 3rd avenue bridge': '3rd avenue bridge',

    'willis ave bridge': 'willis avenue bridge',
    'willis avenue bridge approach': 'willis avenue bridge',
    'willis avenue bridge': 'willis avenue bridge',
    'willis avenue bridge pedestrian/': 'willis avenue bridge',
    'north bound willis ave bridge': 'willis avenue bridge',
    'willis avenue bridge exit ramp': 'willis avenue bridge',

    'hodges bridge': 'hodges bridge',
    'marine memorial parkway bridge': 'hodges bridge',
    
    'madison ave bridge': 'madison ave bridge',

    'washington bridge': 'washington bridge',
    'washington bridge 181 st': 'washington bridge',
    'washington bridge 181 street': 'washington bridge',
                                   

    'manhattan bridge': 'manhattan bridge',

    'marine parkway bridge': 'marine parkway bridge',
    'marine parkway bridge s/b roadwa': 'marine parkway bridge',
    'marine park bridge': 'marine parkway bridge',

    'kosciusko bridge': 'kosciusko bridge',
    'kosciuszko bridge': 'kosciusko bridge',
    
    'whitestone bridge': 'whitestone bridge',
    'whitestone expressway bridge': 'whitestone bridge',
    'white stone bridge': 'whitestone bridge',
    'clinton st (off wb bridge)': 'whitestone bridge',
    'bronx whitestone bridge': 'whitestone bridge',
    'whitesteone bridge': 'whitestone bridge',
    'whitestone bridge  rdwy 2 lp 16': 'whitestone bridge',
    'bronx whitestone bridge roadway': 'whitestone bridge',
    'bronx/whitestone bridge roadway': 'whitestone bridge',
    'bronx-whitestone bridge s/b road': 'whitestone bridge',
    
    'triborough bridge': 'triborough bridge',
    'triborough bridge approach': 'triborough bridge',
    
    'west 155 street bridge': 'west 155th street bridge',

    '145 st bridge': '145th street bridge',

    'west 145th street bridge' : '145thth street bridge',

    'west 225 street bridge': 'west 225th street bridge',

    'east 149 st bridge': 'east 149th street bridge',
    'east 149 street bridge': 'east 149th street bridge',

    'goethals bridge': 'goethals bridge',
    
    'grand street bridge': 'grand street bridge',

    'throgsneck bridge': 'throgs neck bridge',
    'throgs neck bridge': 'throgs neck bridge',
    'throgs neck bridge approach': 'throgs neck bridge',
    'throggs neck bridge': 'throgs neck bridge',
    'throgsneck bridge': 'throgs neck bridge',
  
    'mc combs dam bridge': 'macombs dam bridge',
    'macombs dam bridge': 'macombs dam bridge',
    'mcombs dam bridge': 'macombs dam bridge',
    'macombs dam bridge approach': 'macombs dam bridge',

    'university heights bridge': 'university heights bridge',

    'cross bay memorial bridge': 'cross bay bridge',
    'cross bay bridge': 'cross bay bridge',
    'cross bay bridge entrance ramp': 'cross bay bridge',
    
    'pulaski bridge': 'pulaski bridge',

    'channel bridge': 'channel bridge',
    'north channel bridge': 'channel bridge',

    

    'grand street bridge': 'grand street bridge',

    'roosevelt island bridge': 'roosevelt island bridge',

    'george washington bridge': 'george washington bridge',


    'madison avenue bridge': 'madison avenue bridge',

    'roosevelt island bridge': 'roosevelt island bridge',

    'city island bridge': 'city island bridge',

    'harlem river park bridge': 'harlem river park bridge',
    'harlem riv park bridge': 'harlem river park bridge',

    'greenpoint avenue bridge': 'greenpoint avenue bridge',



    'henry hudson bridge roadway #3 l': 'henry hudson bridge',
    'ny 9a henry hudson bridge s/b rd': 'henry hudson bridge',
    'henry hudson bridge': 'henry hudson bridge',

    'fresh kills bridge': 'fresh kills bridge',
}

# Change OFF STREET NAME and CROSS STREET NAME to 'bridge' for relevant rows
bridge_keywords = bridge_mapping.values()
df.loc[df['ON STREET NAME'].isin(bridge_keywords), ['OFF STREET NAME', 'CROSS STREET NAME']] = 'bridge'

# Apply the bridge mapping to normalize names
bridges['ON STREET NAME'] = bridges['ON STREET NAME'].replace(bridge_mapping)

# Normalize the names in the primary DataFrame
df['ON STREET NAME'] = df['ON STREET NAME'].replace(bridge_mapping)

In [344]:
print(bridges['ON STREET NAME'].value_counts())

ON STREET NAME
verrazano bridge             4740
triborough bridge            3170
whitestone bridge            2333
queensboro bridge            1887
brooklyn bridge              1559
williamsburg bridge          1459
throgs neck bridge           1451
willis avenue bridge          591
macombs dam bridge            461
3rd avenue bridge             302
alexander hamilton bridge     250
washington bridge             181
rfk bridge                    123
madison ave bridge            116
manhattan bridge               81
pulaski bridge                 80
marine parkway bridge          55
university heights bridge      37
cross bay bridge               32
channel bridge                 23
madison avenue bridge          15
145th street bridge            14
west 155th street bridge       13
kosciusko bridge               13
roosevelt island bridge        11
harlem river park bridge        8
west 145 st bridge              6
33rd avenue bridge              6
george washington bridge        5
city island bridge              3
east 138 street bridge          2
greenpoint avenue bridge        2
hodges bridge                   2
east 149th street bridge        2
henry hudson bridge             2
goethals bridge                 1
grand street bridge             1
hall of science bridge          1
145 street bridge               1
meadow lake bridge              1
fresh kills bridge              1
bridge plaza court              1
west 225th street bridge        1
Name: count, dtype: int64

In [345]:
bridge_info = {
    # Manhattan Bridges
    'triborough bridge': {'LATITUDE': 40.8010, 'LONGITUDE': -73.9225, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10035'},
    'queensboro bridge': {'LATITUDE': 40.7577, 'LONGITUDE': -73.9543, 'BOROUGH': 'Manhattan', 'ZIP CODE': '11101'},
    '3rd avenue bridge': {'LATITUDE': 40.7831, 'LONGITUDE': -73.9712, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10016'},
    'throgs neck bridge': {'LATITUDE': 40.8044, 'LONGITUDE': -73.8275, 'BOROUGH': 'Queens', 'ZIP CODE': '11357'},
    'university heights bridge': {'LATITUDE': 40.8503, 'LONGITUDE': -73.9182, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10453'},
    'roosevelt island bridge': {'LATITUDE': 40.7620, 'LONGITUDE': -73.9526, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10044'},
    'east 138th street bridge': {'LATITUDE': 40.8261, 'LONGITUDE': -73.9116, 'BOROUGH': 'Bronx', 'ZIP CODE': '10454'},
    'madison avenue bridge': {'LATITUDE': 40.7978, 'LONGITUDE': -73.9571, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10029'},
    'whitestone bridge': {'LATITUDE': 40.8044, 'LONGITUDE': -73.8275, 'BOROUGH': 'Queens', 'ZIP CODE': '11357'},
    'west 225th street bridge': {'LATITUDE': 40.8643, 'LONGITUDE': -73.9042, 'BOROUGH': 'Bronx', 'ZIP CODE': '10468'},
    'harlem river park bridge': {'LATITUDE': 40.8200, 'LONGITUDE': -73.9314, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10035'},
    'channel bridge': {'LATITUDE': 40.7505, 'LONGITUDE': -73.9956, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10001'},
    'verrazano bridge': {'LATITUDE': 40.6067, 'LONGITUDE': -74.0447, 'BOROUGH': 'Staten Island', 'ZIP CODE': '10305'},
    'marine parkway bridge': {'LATITUDE': 40.6081, 'LONGITUDE': -73.9122, 'BOROUGH': 'Brooklyn', 'ZIP CODE': '11234'},
    'tremont avenue bridge': {'LATITUDE': 40.8500, 'LONGITUDE': -73.9233, 'BOROUGH': 'Bronx', 'ZIP CODE': '10457'},
    'cross bay bridge': {'LATITUDE': 40.6092, 'LONGITUDE': -73.8367, 'BOROUGH': 'Queens', 'ZIP CODE': '11693'},
    'hall of science bridge': {'LATITUDE': 40.7643, 'LONGITUDE': -73.8604, 'BOROUGH': 'Queens', 'ZIP CODE': '11368'},
    'bridge plaza court': {'LATITUDE': 40.7074, 'LONGITUDE': -73.9923, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10038'},
    'queens bridge park': {'LATITUDE': 40.7490, 'LONGITUDE': -73.9580, 'BOROUGH': 'Queens', 'ZIP CODE': '11101'},
    'alexander hamilton bridge': {'LATITUDE': 40.8499, 'LONGITUDE': -73.9280, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10031'},
    'kosciusko bridge': {'LATITUDE': 40.7290, 'LONGITUDE': -73.9280, 'BOROUGH': 'Brooklyn', 'ZIP CODE': '11211'},
    'botanical garden bridge': {'LATITUDE': 40.8643, 'LONGITUDE': -73.9116, 'BOROUGH': 'Bronx', 'ZIP CODE': '10458'},
    'amphitheater bridge': {'LATITUDE': 40.7282, 'LONGITUDE': -73.9811, 'BOROUGH': 'Brooklyn', 'ZIP CODE': '11215'},
    'rfk bridge': {'LATITUDE': 40.7990, 'LONGITUDE': -73.9336, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10029'},
    'hell gate bridge': {'LATITUDE': 40.7910, 'LONGITUDE': -73.9300, 'BOROUGH': 'Queens', 'ZIP CODE': '11368'},
    'brooklyn bridge': {'LATITUDE': 40.7061, 'LONGITUDE': -73.9969, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10038'},
    'williamsburg bridge': {'LATITUDE': 40.7127, 'LONGITUDE': -73.9700, 'BOROUGH': 'Manhattan', 'ZIP CODE': '11211'},
    'macombs dam bridge': {'LATITUDE': 40.8270, 'LONGITUDE': -73.9350, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10453'},
    'willis avenue bridge': {'LATITUDE': 40.8069, 'LONGITUDE': -73.9296, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10455'},
    'third ave bridge': {'LATITUDE': 40.8073, 'LONGITUDE': -73.9287, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10035'},
    'madison ave bridge': {'LATITUDE': 40.8055, 'LONGITUDE': -73.9372, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10451'},
    'manhattan bridge': {'LATITUDE': 40.7075, 'LONGITUDE': -73.9900, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10002'},
    'pulaski bridge': {'LATITUDE': 40.7275, 'LONGITUDE': -73.9535, 'BOROUGH': 'Brooklyn', 'ZIP CODE': '11222'},
    'washington bridge': {'LATITUDE': 40.8517, 'LONGITUDE': -73.9354, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10033'},
    '145th st bridge': {'LATITUDE': 40.8272, 'LONGITUDE': -73.9386, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10454'},
    'west 155th street bridge': {'LATITUDE': 40.8305, 'LONGITUDE': -73.9387, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10032'},
    'roosevelt island bridge': {'LATITUDE': 40.7620, 'LONGITUDE': -73.9526, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10044'},
    'george washington bridge': {'LATITUDE': 40.8517, 'LONGITUDE': -73.9527, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10033'},
    'queensboro bridge': {'LATITUDE': 40.7577, 'LONGITUDE': -73.9543, 'BOROUGH': 'Manhattan', 'ZIP CODE': '11101'},
    'madison avenue bridge': {'LATITUDE': 40.8055, 'LONGITUDE': -73.9372, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10451'},
    'city island bridge': {'LATITUDE': 40.8470, 'LONGITUDE': -73.7870, 'BOROUGH': 'Bronx', 'ZIP CODE': '10464'},
    'greenpoint avenue bridge': {'LATITUDE': 40.7317, 'LONGITUDE': -73.9501, 'BOROUGH': 'Brooklyn', 'ZIP CODE': '11222'},
    'harlem river park bridge': {'LATITUDE': 40.8200, 'LONGITUDE': -73.9314, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10035'},
    'meadow lake bridge': {'LATITUDE': 40.7451, 'LONGITUDE': -73.8419, 'BOROUGH': 'Queens', 'ZIP CODE': '11368'},
    'goethals bridge': {'LATITUDE': 40.6391, 'LONGITUDE': -74.1876, 'BOROUGH': 'Staten Island', 'ZIP CODE': '10303'},
    'grand street bridge': {'LATITUDE': 40.7123, 'LONGITUDE': -73.9240, 'BOROUGH': 'Brooklyn', 'ZIP CODE': '11211'},
    'east 149 street bridge': {'LATITUDE': 40.8128, 'LONGITUDE': -73.9096, 'BOROUGH': 'Bronx', 'ZIP CODE': '10455'},
    'hodges bridge': {'LATITUDE': 40.7282, 'LONGITUDE': -73.9811, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10009'},
    '145 street bridge': {'LATITUDE': 40.8272, 'LONGITUDE': -73.9375, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10039'},
    'fresh kills bridge': {'LATITUDE': 40.5794, 'LONGITUDE': -74.1944, 'BOROUGH': 'Staten Island', 'ZIP CODE': '10314'},
    'henry hudson bridge': {'LATITUDE': 40.8783, 'LONGITUDE': -73.9228, 'BOROUGH': 'Manhattan', 'ZIP CODE': '10463'}
}

# Update DataFrame
for bridge, info in bridge_info.items():
    df.loc[
        (df['ON STREET NAME'] == bridge) &
        (df['LATITUDE'].isna() | df['LONGITUDE'].isna() | df['BOROUGH'] | df['ZIP CODE'].isna()),
        ['LATITUDE', 'LONGITUDE', 'BOROUGH', 'ZIP CODE']
    ] = info['LATITUDE'], info['LONGITUDE'], info['BOROUGH'], info['ZIP CODE']

# Display the updated DataFrame
print("Updated DataFrame:")
print(df)

Updated DataFrame:
         CRASH DATE CRASH TIME        BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0        09/11/2021       2:39            NaN      NaN        NaN        NaN
1        03/26/2022      11:45      Manhattan    11101  40.757700 -73.954300
2        06/29/2022       6:55         Queens    11357  40.804400 -73.827500
3        09/11/2021       9:35       BROOKLYN  11208.0  40.667202 -73.866500
4        12/14/2021       8:13       BROOKLYN  11233.0  40.683304 -73.917274
...             ...        ...            ...      ...        ...        ...
2104704  07/16/2024       9:50         QUEENS  11377.0  40.739540 -73.899605
2104705  07/14/2024      14:40  Staten Island    10305  40.606700 -74.044700
2104706  07/15/2024      12:40       BROOKLYN  11230.0  40.630380 -73.958510
2104707  06/17/2024       9:50            NaN      NaN  40.734470 -73.863160
2104708  07/16/2024       2:00         QUEENS  11372.0  40.751600 -73.882750

                        LOCATION          ON STREET NAME CROSS STREET NAME  \
0                            NaN   whitestone expressway         20 AVENUE
1                            NaN       queensboro bridge               NaN
2                            NaN      throgs neck bridge            bridge
3          (40.667202, -73.8665)                     NaN               NaN
4        (40.683304, -73.917274)         saratoga avenue    DECATUR STREET
...                          ...                     ...               ...
2104704   (40.73954, -73.899605)                     NaN               NaN
2104705                      NaN        verrazano bridge               NaN
2104706    (40.63038, -73.95851)          east 19 street          AVENUE H
2104707    (40.73447, -73.86316)  long island expressway               NaN
2104708     (40.7516, -73.88275)                     NaN               NaN

                         OFF STREET NAME  ...  CONTRIBUTING FACTOR VEHICLE 2  \
0                                    NaN  ...                    Unspecified
1                                    NaN  ...                            NaN
2                                 bridge  ...                    Unspecified
3                1211      LORING AVENUE  ...                            NaN
4                                    NaN  ...                            NaN
...                                  ...  ...                            ...
2104704  65-38     LAUREL HILL BOULEVARD  ...                    Unspecified
2104705                              NaN  ...                    Unspecified
2104706                              NaN  ...                    Unspecified
2104707                              NaN  ...                            NaN
2104708              35-59     84 STREET  ...                    Unspecified

         CONTRIBUTING FACTOR VEHICLE 3  CONTRIBUTING FACTOR VEHICLE 4  \
0                                  NaN                            NaN
1                                  NaN                            NaN
2                                  NaN                            NaN
3                                  NaN                            NaN
4                                  NaN                            NaN
...                                ...                            ...
2104704                            NaN                            NaN
2104705                            NaN                            NaN
2104706                            NaN                            NaN
2104707                            NaN                            NaN
2104708                    Unspecified                            NaN

         CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  \
0                                  NaN       4455765
1                                  NaN       4513547
2                                  NaN       4541903
3                                  NaN       4456314
4                                  NaN       4486609
...                                ...           ...
2104704                            NaN       4740962
2104705                            NaN       4741320
2104706                            NaN       4741334
2104707                            NaN       4741349
2104708                            NaN       4741016

                         VEHICLE TYPE CODE 1  \
0                                      Sedan
1                                      Sedan
2                                      Sedan
3                                      Sedan
4                                        NaN
...                                      ...
2104704  Station Wagon/Sport Utility Vehicle
2104705                                Sedan
2104706  Station Wagon/Sport Utility Vehicle
2104707                                Sedan
2104708  Station Wagon/Sport Utility Vehicle

                         VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3  \
0                                      Sedan                  NaN
1                                        NaN                  NaN
2                              Pick-up Truck                  NaN
3                                        NaN                  NaN
4                                        NaN                  NaN
...                                      ...                  ...
2104704                                Sedan                  NaN
2104705  Station Wagon/Sport Utility Vehicle                  NaN
2104706                                Sedan                  NaN
2104707                                  NaN                  NaN
2104708  Station Wagon/Sport Utility Vehicle        Pick-up Truck

        VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0                       NaN                 NaN
1                       NaN                 NaN
2                       NaN                 NaN
3                       NaN                 NaN
4                       NaN                 NaN
...                     ...                 ...
2104704                 NaN                 NaN
2104705                 NaN                 NaN
2104706                 NaN                 NaN
2104707                 NaN                 NaN
2104708                 NaN                 NaN

[2104709 rows x 29 columns]

### Handling Categorical Data
#### Contributing Factor Vehicles
There are many contributing factors as to why a vehicle was involved in a collision. The goal is to standardize/correct spelling of factors (e.g. 'Illnes'), remove any possibly mistakenly entered values (e.g. '80', '1'), and group together various ways of referring to the same factor (e.g. multiple versions of what boils down to cell-phone use)

In [346]:
#Print all possible contributing factors for vehicles involved in collisions
contributing_factors_cols = ['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5'] 
unique_contributing_factors = pd.concat(df[col] for col in contributing_factors_cols).unique()
print(unique_contributing_factors)

['Aggressive Driving/Road Rage' 'Pavement Slippery'
 'Following Too Closely' 'Unspecified' nan 'Passing Too Closely'
 'Driver Inexperience' 'Passing or Lane Usage Improper'
 'Turning Improperly' 'Unsafe Lane Changing' 'Unsafe Speed'
 'Reaction to Uninvolved Vehicle' 'Steering Failure'
 'Traffic Control Disregarded' 'Other Vehicular'
 'Driver Inattention/Distraction' 'Oversized Vehicle'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Alcohol Involvement' 'View Obstructed/Limited'
 'Failure to Yield Right-of-Way' 'Illnes' 'Lost Consciousness'
 'Brakes Defective' 'Backing Unsafely' 'Glare' 'Passenger Distraction'
 'Fell Asleep' 'Obstruction/Debris' 'Tinted Windows' 'Animals Action'
 'Drugs (illegal)' 'Pavement Defective' 'Other Lighting Defects'
 'Outside Car Distraction' 'Driverless/Runaway Vehicle'
 'Tire Failure/Inadequate' 'Fatigued/Drowsy' 'Headlights Defective'
 'Accelerator Defective' 'Failure to Keep Right' 'Physical Disability'
 'Eating or Drinking' 'Cell Phone (hands-free)'
 'Lane Marking Improper/Inadequate' 'Cell Phone (hand-Held)'
 'Using On Board Navigation Device' 'Other Electronic Device'
 'Traffic Control Device Improper/Non-Working' 'Tow Hitch Defective'
 'Windshield Inadequate' 'Vehicle Vandalism' 'Prescription Medication'
 'Shoulders Defective/Improper' 'Listening/Using Headphones' 'Texting'
 '80' 'Reaction to Other Uninvolved Vehicle' '1' 'Drugs (Illegal)'
 'Illness' 'Cell Phone (hand-held)']

In [347]:
#Standardize spelling, remove incorrectly entered values, and group together similar values.
factors_mapping = {
    'Aggressive Driving/Road Rage': 'Aggressive Driving',
    'Pavement Slippery': 'Road Conditions',
    'Following Too Closely': 'Following Too Closely',
    #It may be that unspecified means a car was involved but they do not know what caused it to be involved--not NaN then?
    'Unspecified': 'Unspecified',
    'Passing Too Closely': 'Improper Passing',
    'Driver Inexperience': 'Driver Inexperience',
    'Passing or Lane Usage Improper': 'Improper Passing',
    'Turning Improperly': 'Improper Turning',
    'Unsafe Lane Changing': 'Unsafe Lane Changing',
    'Unsafe Speed': 'Unsafe Speed',
    'Reaction to Uninvolved Vehicle': 'External Distraction',
    'Reaction to Other Uninvolved Vehicle': 'External Distraction',
    'Steering Failure': 'Vehicle Defect',
    'Traffic Control Disregarded': 'Traffic Violation',
    'Other Vehicular': 'Other Vehicle',
    'Driver Inattention/Distraction': 'Driver Distraction',
    'Oversized Vehicle': 'Oversized Vehicle',
    'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion': 'Pedestrian/Cyclist Error',
    'Alcohol Involvement': 'Alcohol Involvement',
    'View Obstructed/Limited': 'View Obstruction',
    'Failure to Yield Right-of-Way': 'Failure to Yield',
    'Lost Consciousness': 'Driver Impairment',
    'Brakes Defective': 'Vehicle Defect',
    'Backing Unsafely': 'Unsafe Backing',
    'Glare': 'View Obstruction',
    'Passenger Distraction': 'Driver Distraction',
    'Fell Asleep': 'Driver Fatigue',
    'Obstruction/Debris': 'Road Hazard',
    'Tinted Windows': 'Vehicle Defect',
    'Animals Action': 'Animal Involvement',
    'Drugs (illegal)': 'Drug Involvement',
    'Drugs (Illegal)': 'Drug Involvement',
    'Pavement Defective': 'Road Conditions',
    'Other Lighting Defects': 'Vehicle Defect',
    'Outside Car Distraction': 'External Distraction',
    'Driverless/Runaway Vehicle': 'Vehicle Control Issue',
    'Tire Failure/Inadequate': 'Vehicle Defect',
    'Fatigued/Drowsy': 'Driver Fatigue',
    'Headlights Defective': 'Vehicle Defect',
    'Accelerator Defective': 'Vehicle Defect',
    'Failure to Keep Right': 'Traffic Violation',
    'Physical Disability': 'Driver Impairment',
    'Eating or Drinking': 'Driver Distraction',
    'Cell Phone (hands-free)': 'Cell Phone Use',
    'Cell Phone (hand-Held)': 'Cell Phone Use',
    'Cell Phone (hand-held)': 'Cell Phone Use',
    'Lane Marking Improper/Inadequate': 'Road Conditions',
    'Using On Board Navigation Device': 'Driver Distraction',
    'Other Electronic Device': 'Driver Distraction',
    'Traffic Control Device Improper/Non-Working': 'Road Conditions',
    'Tow Hitch Defective': 'Vehicle Defect',
    'Windshield Inadequate': 'Vehicle Defect',
    'Vehicle Vandalism': 'Vehicle Damage',
    'Prescription Medication': 'Drug Involvement',
    'Shoulders Defective/Improper': 'Road Conditions',
    'Listening/Using Headphones': 'Driver Distraction',
    'Texting': 'Cell Phone Use',
    'Illnes': 'Illness',
    'Illness': 'Illness',
    '80': 'Police Chase',
    '1': 'Unspecified',
}

for col in contributing_factors_cols:
    df[col] = df[col].map(factors_mapping).fillna(df[col])

print(df)

         CRASH DATE CRASH TIME        BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0        09/11/2021       2:39            NaN      NaN        NaN        NaN
1        03/26/2022      11:45      Manhattan    11101  40.757700 -73.954300
2        06/29/2022       6:55         Queens    11357  40.804400 -73.827500
3        09/11/2021       9:35       BROOKLYN  11208.0  40.667202 -73.866500
4        12/14/2021       8:13       BROOKLYN  11233.0  40.683304 -73.917274
...             ...        ...            ...      ...        ...        ...
2104704  07/16/2024       9:50         QUEENS  11377.0  40.739540 -73.899605
2104705  07/14/2024      14:40  Staten Island    10305  40.606700 -74.044700
2104706  07/15/2024      12:40       BROOKLYN  11230.0  40.630380 -73.958510
2104707  06/17/2024       9:50            NaN      NaN  40.734470 -73.863160
2104708  07/16/2024       2:00         QUEENS  11372.0  40.751600 -73.882750

                        LOCATION          ON STREET NAME CROSS STREET NAME  \
0                            NaN   whitestone expressway         20 AVENUE
1                            NaN       queensboro bridge               NaN
2                            NaN      throgs neck bridge            bridge
3          (40.667202, -73.8665)                     NaN               NaN
4        (40.683304, -73.917274)         saratoga avenue    DECATUR STREET
...                          ...                     ...               ...
2104704   (40.73954, -73.899605)                     NaN               NaN
2104705                      NaN        verrazano bridge               NaN
2104706    (40.63038, -73.95851)          east 19 street          AVENUE H
2104707    (40.73447, -73.86316)  long island expressway               NaN
2104708     (40.7516, -73.88275)                     NaN               NaN

                         OFF STREET NAME  ...  CONTRIBUTING FACTOR VEHICLE 2  \
0                                    NaN  ...                    Unspecified
1                                    NaN  ...                            NaN
2                                 bridge  ...                    Unspecified
3                1211      LORING AVENUE  ...                            NaN
4                                    NaN  ...                            NaN
...                                  ...  ...                            ...
2104704  65-38     LAUREL HILL BOULEVARD  ...                    Unspecified
2104705                              NaN  ...                    Unspecified
2104706                              NaN  ...                    Unspecified
2104707                              NaN  ...                            NaN
2104708              35-59     84 STREET  ...                    Unspecified

         CONTRIBUTING FACTOR VEHICLE 3  CONTRIBUTING FACTOR VEHICLE 4  \
0                                  NaN                            NaN
1                                  NaN                            NaN
2                                  NaN                            NaN
3                                  NaN                            NaN
4                                  NaN                            NaN
...                                ...                            ...
2104704                            NaN                            NaN
2104705                            NaN                            NaN
2104706                            NaN                            NaN
2104707                            NaN                            NaN
2104708                    Unspecified                            NaN

         CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  \
0                                  NaN       4455765
1                                  NaN       4513547
2                                  NaN       4541903
3                                  NaN       4456314
4                                  NaN       4486609
...                                ...           ...
2104704                            NaN       4740962
2104705                            NaN       4741320
2104706                            NaN       4741334
2104707                            NaN       4741349
2104708                            NaN       4741016

                         VEHICLE TYPE CODE 1  \
0                                      Sedan
1                                      Sedan
2                                      Sedan
3                                      Sedan
4                                        NaN
...                                      ...
2104704  Station Wagon/Sport Utility Vehicle
2104705                                Sedan
2104706  Station Wagon/Sport Utility Vehicle
2104707                                Sedan
2104708  Station Wagon/Sport Utility Vehicle

                         VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3  \
0                                      Sedan                  NaN
1                                        NaN                  NaN
2                              Pick-up Truck                  NaN
3                                        NaN                  NaN
4                                        NaN                  NaN
...                                      ...                  ...
2104704                                Sedan                  NaN
2104705  Station Wagon/Sport Utility Vehicle                  NaN
2104706                                Sedan                  NaN
2104707                                  NaN                  NaN
2104708  Station Wagon/Sport Utility Vehicle        Pick-up Truck

        VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0                       NaN                 NaN
1                       NaN                 NaN
2                       NaN                 NaN
3                       NaN                 NaN
4                       NaN                 NaN
...                     ...                 ...
2104704                 NaN                 NaN
2104705                 NaN                 NaN
2104706                 NaN                 NaN
2104707                 NaN                 NaN
2104708                 NaN                 NaN

[2104709 rows x 29 columns]

In [348]:
#Print new possible values for contributing factors
#Can group even more generally if needed
unique_contributing_factors = pd.concat(df[col] for col in contributing_factors_cols).unique()
print(unique_contributing_factors)

['Aggressive Driving' 'Road Conditions' 'Following Too Closely'
 'Unspecified' nan 'Improper Passing' 'Driver Inexperience'
 'Improper Turning' 'Unsafe Lane Changing' 'Unsafe Speed'
 'External Distraction' 'Vehicle Defect' 'Traffic Violation'
 'Other Vehicle' 'Driver Distraction' 'Oversized Vehicle'
 'Pedestrian/Cyclist Error' 'Alcohol Involvement' 'View Obstruction'
 'Failure to Yield' 'Illness' 'Driver Impairment' 'Unsafe Backing'
 'Driver Fatigue' 'Road Hazard' 'Animal Involvement' 'Drug Involvement'
 'Vehicle Control Issue' 'Cell Phone Use' 'Vehicle Damage' 'Police Chase']

#### Vehicle Types
There are many vehicle types like there are contributing factors, so they will need to be handled in a similar way as well. Many are truncated beyond easy recognition, so there may be a challenge with handling them.

In [349]:
#Print all possible vehicle types for vehicles involved in collisions
vehicle_type_cols = ['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'] 
unique_vehicle_types = pd.concat(df[col] for col in vehicle_type_cols).unique()
for vehicle_type in unique_vehicle_types:
    print(vehicle_type)

Sedan
nan
Dump
Station Wagon/Sport Utility Vehicle
Tanker
Bus
Taxi
Van
Motorscooter
Bike
E-Bike
Ambulance
Box Truck
Garbage or Refuse
Motorcycle
E-Scooter
UTILITY
Pick-up Truck
Convertible
Tractor Truck Diesel
Flat Bed
Tow Truck / Wrecker
MBU
PK
Moped
AMBULANCE
Trailer
SCHOOL BUS
Lift Boom
scooter
CATER
PKUP
Carry All
FDNY Ambul
3-Door
Beverage Truck
SEMI TRAIL
TOW TRUCK
Motorbike
UNKNOWN
trailer
Lunch Wagon
dump
Flat Rack
UNK
MOPED
USPCS
Tractor Truck Gasoline
GARBAGE TR
Minicycle
FIRE TRUCK
Armored Truck
USPS truck
COM
Chassis Cab
SW/VAN
Bulk Agriculture
Dot
Concrete Mixer
Open Body
Excavator
Fork lift
4 dr sedan
FORD VAN
STREET SWE
unknown
fire truck
Glass Rack
COMMERCIAL
PSD
PICK UP
Scooter
MTA
Multi-Wheeled Vehicle
TRUCK
TRAILER
Tow Truck
e bike uni
USPS VEHIC
E-bike
FIRE
Truck
LIMO
MACK
Refrigerated Van
Stake or Rack
WORK VAN
MOTOR SCOO
van
Pickup tru
CARRIER
Fire truck
ambulance
USPS
DEPARTMENT
NYPD VAN
AMBULACE
2 dr sedan
FDNY Firet
Pallet
AMBULANE
AMB
MTR H
Self
GOLF CART
SCOOTER
Mailtruck
AMBU
Delivery
TANK
UTIL
Pick up tr
EMS bus
freight
FORKLIFT
Hopper
MOPAD
Postal ser
USPS Truck
CON ED TRU
Firetruck
box truck
DUMP
SANMEN COU
PUMP
forklift
Dirt Bike
FIRETRUCK
School Bus
Fire Truck
FDNY AMBUL
commercial
PICK UP TR
SHUTTLE BU
FDNY
NYS Ambula
12 passage
FORD
E scooter
dump truck
AMBULETTE
Garbage tr
Van Camper
GOLF CAR
RV
UHAL
USPS TRUCK
Livestock Rack
.
BOX TRUCK
PICKUP
E-SCOOTER
Dodge
50cc Scoot
FIRE APPAR
Dump truck
Mini Van
ROAD SWEEP
SELF INSUR
VAN/TRUCK
STREET CLE
moped
Lift
Utility
EMS
kick scoot
LADDER CO
SEMI
MTA BUS
Commercial
ELECTRIC S
Cargo van
Ambu
PUMPER
pas
TRUCK COMM
Cement tru
Ford Van
DELIVERY T
Enclosed Body - Nonremovable Enclosure
FDNY TRUCK
Pick up
Skywatch
DUMP TRUCK
Carriage
Pedicab
Sprinter V
SPRINTER V
TL
MACK TRUCK
Minibike
FDNY FIRE
TCN
tow truck
Flatbed Pi
Snow Plow
ASPHALT RO
UNK BOX TR
PICK-UP TR
Horse trai
TF
ESCOOTER S
nys ambula
MOTOR HOME
REFG
SELF
Forklift
CAMPER VAN
mini van
UTILITY VE
CMIX
FIRE ENGIN
usps truck
Power shov
passenger
pickup
tr
POWER SHOV
SMYELLSCHO
Grumman LL
994
firetruck
AMBULENCE
subn
PASSENGER
Electric S
ESU REP
self insur
CAT FORKLI
utility tr
mailtruck
FDNY Truck
White Van
Dent and S
Motorized Home
DELV
City Owned
''lime mope
Pick wh
USPS MAIL
crane boom
REVEL scoo
PC
CITY
NYPD TOW T
work truck
USPS POSTA
Mack Truck
PAS
NYC SANITA
gas scoote
VMS
NYS AMBULA
FLATBED
DODGE RAM
SUBURBAN
HWH
Unmarked V
DUMPSTER T
BOX
unk
M2
LOCOMOTIVE
Gas scoote
CHERV
Post offic
SKATEBOARD
Road sweep
Motorized
Enclosed Body - Removable Enclosure
sprinter v
Box truck
F550
Ram
TLR
MOVING TRU
VERZION VA
Constructi
School bus
Yamaha
SCHOOL  BU
NonMotordS
MINI BUS
Motorscoot
Work Van
commerical
Mack
police rep
EC3
SEDONA
TLC
FDNY LADDE
Mopd
Sanitation
UTILITY VA
Garbage
Fire Engin
MAIL TRUCK
GAS POWERE
Pas (4dr s
Passenger
Horse carr
ECONOLINE
FRT
FDNY ENGIN
UPS
D2
Backhoe
ENGINE SP0
Pass
USPS small
Pickup with mounted Camper
Pick-Up
US Mail Tr
STREET
gas mo ped
CITYWIDE
SCOOTER GA
Postal tru
Pro master
RGR
US POSTAL
Fdny engin
VAN WH
SUV
Self Insur
FREIGHT TR
fdny
EMT Ambula
FOOD CART
APP
BOOM LIFT
tk
FREIG
DUMPTRUCK
Toyota
SPR
JEEP
Log
Garbage Tr
Cement Tru
Gas Scoote
Unknown
Fork Lift
Com
MINI SCHOO
MOTORHOME
FDNY LADER
PICKUP TRU
NYPD Tow T
City vehic
U-Haul min
12 PASSENG
EMS TRUCK
government
Ford picku
principle
SP PURPOSE
Government
NYC TRANSI
NYC PARKS
fork lift
e-scooter
TRACTOR
UPS TRUCK
NYCHA Van
USPS VAN
SANITATION
Pick Up
house on w
FireTruck
ABULANCE
utility
Gator 4x4
BOBCAT
SONATA
golf cart
Unk
FRIEG
Ford
TRANSIT
NYPD
backhoe re
FREIGHTLIN
COMMERICAL
FORK LIFT
GOVERNMENT
FD Ambulan
YW SCHOOL
amb
EXCAVATOR
Utility ve
Well Driller
USPS posta
U-Haul
JETSKI
Tractor Tr
MOPED 150C
Ice Cream
50CC SCOOT
FEDEX TRUC
MINI VAN
Pickup
F550 ESU R
OTHER
EMS FDNY B
STAK
Bucket Tru
Penske Box
7
DIRT BIKE
VAN TRUCK
YELLOW TAX
Tow
MOTORSCOOT
FDNY Ladde
Freight
SMART
NJ transit
Schoolbus
Street Swe
CRF Carria
Tow truck
POSTAL TRU
usps  van
EMS BUS
fed ex tru
GOVT
garbage tr
Suv
Amb
Usps
MINIVAN
CITY OF NE
FedEx box
E SCOOTER
NY CITY MT
997
Skateboard
PROMASTER
Trolley ri
Sprinter W
Tractor
COM DELIVE
rmp
rz
Mail
Limousine
E Bike w p
crane
G COM
NYC FIRE T
truck
pick up tr
FORD SPRIN
AMBUKANCE
Backhoe Lo
POWER LADD
Mercedes
Fire
OML/OMNIBU
post offic
pick up
DELV BR
FDNY truck
MTA bus
Vanette
EMS Ambula
TRAC
E-scooter
NYC AMBULA
TRACTOR TR
CMIXER
GAS SCOOTE
TRAILER/FL
POSTAL VEH
FLAT
G PSD
HERTZ RAM
SUBN - AMB
SPARK150 S
MTA Bus
TRAILEE
FDNY CHIEF
SPECIAL CO
Quality tr
con ed tru
EMS/VAN
ford
CO
7532433
4DS
sanitaion
Ram Promas
SKID LOADE
MARKED VAN
Power Shov
HD
C1
BULLDOZER
SKYWATCH
NYNJ RAIL
truck trai
box
AMUBULANCE
sedan
ambu
SNOW PLOW
FRHT TRAIL
TRK
Van truck
FDNY EMS
MTA truck
NIU
USPS TRUC,
na
FIRET TRUC
G AMB
tow
UTILITY WH
Tk
Fedex
U HAUL TRU
Subr
fdny ambul
ambulette
TRAILOR
CEMENT TRU
Sprinter v
nyc EMS
road sweep
REP
refuse tru
Flat bed t
TRUCK TRAI
Ambulette
FDNY FIRET
util
LADDER TRU
sanitaton
g com
E-SKATEBOA
usps 88716
ebike
SEDAN
PERM
Golf Cart
forlift
MOTOR SKAT
Can
FLATBED FR
postal van
FIRTRUCK
skateboard
TTAILER
fdny ems
bus
FDNY fire
DELIVERY
USPS/GOVT
TRUCK VAN
CATAPILLAR
SWT
Trac
FLAT  BED
E-BIKE
COURIER
Courier
Leased amb
SMART CAR
message si
E-UNICYCLE
Street Cle
Lawnmower
BICYCLE
almbulance
dark color
ford van
Tractor tr
FD LADDER
abulance
FDNY Engin
OTH
Go kart
CHEVY EXPR
SLINGSHOT
dilevery t
FDNY #226
FREIGHT FL
UNKN
MOVING VAN
usps
backhoe
Delv
Horse
Cargo Van
TRUCK FLAT
BOBCAT FOR
Pumper
DELIVERY V
DOT EQUIPM
GEN  AMBUL
J1
18 WHEELER
Front-Load
DRILL RIG
Wh Ford co
suburban
E REVEL SC
LIGHT TRAI
UT
cross
FOOD TRUCK
gator
JOHN DEERE
f-250
BACK HOE
MECHANICAL
postal tru
CHEVROLET
Fdny ambul
NYC FD
camper tra
FUSION
LCOMM
e skate bo
Ford sprin
Work van
Trc
HRSE
Pick up Tr
0
postal bus
F150XL PIC
hrse
CAT
SUBN WHI
E bike
FDNY Fire
com
CARGO VAN
ELEC. UNIC
1C
White ambu
Utility.
TRAIL
FDNY EMT
TRL
FREIG DELV
pc
delviery
E-Bik
Horse Trai
delivery v
escavator
OMR
P/SH
ford econo
pick
USPS #7530
Hearse
ORION
H1
Piggy back
SE
PUSH SCOOT
postal ser
school bus
nat grid t
yellow cab
G com
COM TRANS
LIT DIRECT
backh
D/V WB
Bobcat
UTILITY TR
food truck
EMERGENCY
fdny truck
WAGON
T880
pay loader
tractor tr
FDNY EMS V
OMS
RV/VAN
TR-Trailer
ESU RESCUE
City
pedicab
TTRAILER
I-haul
RMP V
YELLOWPOWE
skate
197209
posta
E450
UTILI
Ambul
SCHOO
Tow t
E-Sco
towe truck
utili
St
amulance
UNKNO
DEPT VAN #
MOPD
GRUMM
Trail
FIRET
Wagon
AMBUL
E bik
PSH
US PO
Golf
TRACT
BOX T
UHUAL
BACKH
DELVI
box t
SCOOT
picku
trail
DELIV
L1
FORKL
van t
SKATE
POSTA
Box T
PAYLO
SANIT
Forkl
ECONO
VAN/T
tract
FUEL
TRC
TANKE
GARBA
3 WHE
2015
SPRIN
road
DOT T
CRANE
MTA B
FLAT/
Food
deliv
COMME
scoot
acces
ROAD
schoo
STREE
Scoot
FEDEX
LIEBH
CAB
TOW T
USP M
SANTI
tow t
ambul
LTR
comme
prks
Unkno
limo
g spc
CONT
HI TA
CAT.
POLIC
Parce
PICKU
fire
Const
COMM
35 FT
GOLF
WINEB
PU
BoxTr
forkl
Tow T
WHITE
TOWTR
PICK-
E BIK
POWER
MINI
trl
ELECT
TRLR
stree
elect
Box t
VAN T
FORK
vespa
Sprin
MOBIL
back
LIMOU
UHAUL
BS
excav
DOLLY
APPOR
F650
golf
Mta
Van T
SKID-
firet
E SCO
DIRT
Schoo
ICE C
motor
KUBOT
NYS A
range
LMB
BULLD
horse
ACCES
Van (
FLATB
Barri
comm.
MAIL
unkow
Acces
Motor
BTM
US Po
Pas
Attac
NTTRL
MOTOR
YELLO
movin
nypd
SUBUR
Elect
Rescu
E-BIK
COURI
E - B
NAVIG
Subn
mta b
COMMU
HORSE
C3
TIR
st
CONST
Motor Home
TRACK EXCA
concr
HINO
dumps
other
semi
Stree
CAT P
power
garba
wagon
Garba
BOOM
Comme
RMP
PASSE
Posta
SEGWA
SC
Deliv
cater
SEA
moter
Hrse
Trl
U-Hau
BUCKE
Sanit
BK
NYCHA
Snow
COMER
Pick
Picku
Grain
E AMB
SPC
A
rv
TKTR
GATOR
VAV
santa
EXCAV
none
Road
Firet
GOVER
te
LTRL
Tract
omm
TRANS
TRACK
MAC T
UPS T
comm
NISSA
mail
CMS-T
red t
USPS2
Feder
passe
Bicyc
NYC D
WINNE
FRHT
Unkow
USPOS
mc
Fork
EMS A
Track
van c
DIESE
Budge
SWEEP
OMNIB
FED E
ME/BE
BACK
Other
Fd fi
push
CHEVY
Comix
mopad
VAN A
12 Pa
AMbul
DUMPT
LIGHT
fork
ARMY
TOWER
BOAT
e com
MARK
EMRGN
flatb
E COM
ROADS
Utili
Comm
rd/s
COUPE
work
WORKH
freig
Dumps
2- to
BROOM
EBIKE
TRT
BLOCK
CONCR
CHERR
UTV
NYC
LOADE
NS AM
NEW Y
GRAY
e-bik
FRONT
delv
CAMP
RGS
POSTO
WORK
R/V C
sgws
Cat 9
E-MOT
FORK-
Wheel
fd tr
CASE
FD TR
Work
LIBER
CUSHM
COMB
HEAVY
DUMPS
MTA b
R/V
FOOD
FD tr
Spc
BED T
BICYC
WHEEL
Util
e sco
BOBCA
DEMA-
Backh
CART
CEMEN
ice c
TRLR PLT,
boxtr
spec
99999
seagr
White
self
VAN/B
Semi
CHART
NYC M
mcy
icecr
AMABU
OMT
Tow-t
Pick-
ulili
Cargo
15 Pa
Smart
Inter
NYC a
trlr
DOT R
e amb
HIGHL
2 TON
e-350
uhaul
bulld
COMMM
ELECTRIC B
G Sem
Marke
Veriz
VAN W
SPRINTER
Farm Vehicle
nyc d
passa
C0MME
jeep
HORSE CARR
CARGO
bobca
OIL T
flat
Mini
house
APORT
sanit
SELF-
U.S. POSTA
REFRI
Movin
E ONE
tank
unkno
4whee
bsd
TR/KI
SEMI-
E3
RD/S
Sweep
Bucketload
3DC-
Mecha
FREE
paylo
us postal
trk
utility ve
315 e
LIVER
RUBBE
carri
dp
P/SE
omr
INTER
1S
ABULA
GOV V
OML
NYC BUS
omnib
ladde
omni
NYC F
PEDIC
RENTA
BUs
UPS t
John
15 PA
cemen
ST150
TAN P
refg
cargo
GE/SC
Ice C
Crane
VANG
small
Pavin
PSR
Mo pa
east
PRIVA
SFI
Livery Bus
ELEC.
sterl
SD
TL TR
STATE
Tram
CABIN
MTA U
TAILG
U-HAU
MOVIN
DIRTB
del
nycha
GLBEN
Uhaul
NT TR
VERIZ
oml
p/sh
12 PA
limou
us po
4 axe
STACK
VESPA
KME/F
mta B
nycta
pedic
Token
mtr s
dirt
OZ MO
mack
u-hau
delie
11-VA
3 doo
bobct
const
MCY B
CATIP
progr
MVP
suv
MINIV
front
Car C
RESCU
RINGO
WORKM
1
rmb
fIRET
food
YW PO
PET
semi-trail
trac
MO PE
semi-
Yamah
TRuck
dirtb
U HAU
PASS
POIS
FEIG
MTA C
G1
LADDER 34
depar
subur
4D
4DR
SUDN
f15
5X8 T
white
SS
tower
winne
18 WH
ESU T
Shove
UNKOWN
Flat
TCM
ARMOR
GEICO
VAB
SW
dodge
PUMPE
G TOW
KENWO
REPAI
EAMB
UTLIT
miniv
SCOO
KP160
4 RUN
marke
LD
Snowmobile
ROOD
?omme
SYBN
Subur
plow
Power
USPS # 487
FLEET
G1`
fedx
Stake
US
EMS T
COM T
SPEC
Flatb
VPG
amdu
atv p
PLOW
TRAC.
5
UNKOW
CONVE
SUB
OLC
CHEVR
CITY OWNED
3DOOR
E.M.S
Renta
omt
SCOMM
STERL
BLACK
MAXIM
PS
985
T/ CR
FRE
sweep
SWEPE
SPORT UTILITY / STATION WAGON
e tow
r/v
Nypd
lmb
OMT/T
SCL
ups t
HOUSE
conta
FIRER
GREEN
ems b
FR`
A-ONE
Hino
perm
tr/tr
scooc
hino
yy
couri
2 WHE
pOSTA
RV/Tr
PSP
gokar
E- Bi
US MA
SERVI
SM YW
HOSRE
nyfd
yello
TRALI
26 ft
ENGIN
dhl t
CONTR
9999
nyu s
cm
SURET
dsny
PASS-
BOX H
stak
PASSENGER VEHICLE
PAS V
COACH
CON E
oil t
D3
inter
250-3
com v
TOWMA
DEIV
GOVT.
taxi
YALE
H3
Econo
P/U
HD To
SCOM
SUBR
LCOM
renta
LEFT
mobil
COLL
NO/BU
2 DR
UPS M
kenwo
DODGE
REFR
SMALL COM VEH(4 TIRES)
VAN
3-whe
NOT I
ECOM
WHIT
3 Whe
4dsd
Isuzu
4door
Refri
AERIA
2 DOO
conti
C 1
2000
Grail
I1
hi-lo
HDC
ram
VAN E
ukn
Ems t
MTA V
van w
LMTV
UNKNW
4SEDN
FLAT-
BKHOE
TC
Ebike
MOTORCYCLE
11111
vAN
US GO
TLC P
FLED
LSA
VANET
U-HAL
C2
high
CHEV
frh
Farm
g scl
15 pa
LIVERY VEHICLE
TAXI
LARGE COM VEH(6 OR MORE TIRES)
PICK-UP TRUCK
BUS
scoo
PEDICAB
Usps mail
CHASSIS &
POLICE VEH
Mack truck
Self insur
Electric m
In Line Sk
Stand up s
ALL TERRAI
999
2 wheel sc
FD TRUCK
Fdny ems
Delivery V
Combinatio
PEPSI DELI
dirt bike
Van (Trans
50cc mini
utv
c1
MAIL CARRI
d1
Dump Truck
UNKWOWN
power shov
PROGRESSIV
chev
USPS #6530
ELECTRIC C
Omnibus
HEAVY TRUC
MAC
Sweeper
LIABITIY
P PSD
Bread truc
Mopped
13
rgs
Road Sweep
standing s
A,n
RAZOR150 M
FLYWING MO
Small Bus
Lime Scoot
REF BOX TR
mta bus
Motor Scoo
Work truck
MANUAL SCO
E BIKE
Ford FF
MC
Delivery T
Traffic To
BOOM MOPED
FLATBED TO
moped scoo
FDNY mecha
TRANSIT VA
PICK-UP
GMC ECOM
Chevy
REVEL
Fdny Fire
Fire Truvk
Ladder tru
Suburban
Commer Veh
GAS MOPED
METRO TRAN
PETIT CAB
AMBULANVE
Ems truck
Ladder
TRUCK W/TR
MTA Van
Fed Ex Tru
electronic
FDNY 245 E
delivery t
tlc
USPS Mail
amazon tru
electric s
VAn
Yale Fork
SUBN/Van
cart
ems bus
FDNY Vehic
Scooter ga
YELLOW BUS
l1
Utility Ve
NYC FDNY #
Waste truc
MILITARY
charter bu
MOTORIZEDS
MARKED RMP
wag
Gas Moped
FDNY EMS#1
E MOTORCYC
X Amb
FDNY- Fire
100th truc
Ford Couri
BUS (OMNIB
DELV WH
BOX CAR
ELE MOTORC
SCHOOLBUS
MTA transi
VAN (TRANS
AMULANCE
Electric s
Ambulence
Ford f150
TRANSPORT
MOPPED
del truck
CAN
utv bobcat
TOW-TRUCK
EMI- TRAIL
FREIGHT VA
Mail truck
Dodge ram
Lim
gas moped
SELF-INSUR
GOVENMENT
PASSANGER
Fire engin
Van Truck
Delivery t
Govt P/U T
Rmp
ELECTRIC M
Mcy
DOT
Dept Tow t
Limo
FORD F-150
ManPower s
REG
BOXTRUCK
Red moped
d3
HORSE TRAI
access-a-r
FORD AMBUL
nyc
Razor Scoo
Utility tr
FD AMBULAN
subar
MOOPER
Golf cart
PASS VAN
Military v
DOT TRUCK
commerial
nissa
MINI VAHN
Pickup tow
DOT VEHICL
VA
COMMERICIA
Ele. Unicy
street swe
Tank
Ford Trans
box van
REVEL MOPE
a
LSV
MTA TRANSI
AMBALANCE
10 Paaseng
Street swe
COMM TRAIL
FORD TRANS
Boom Lift
Unknown ve
Tlc
Gas dirt b
Nova
TRAILER CA
CAR/SUV
mini bus
HORSE DRAW
FDNY UTILI
toyot
VAGON
Asphalt Pa
PEDAL BIKE
4
TRUCK/VAN
UPS truck
Mta bus
GOLFCART
Rescue Tru
EMS Bus
R.M.P.
Detached t
ONE WHEEL
Truck/bus
RIV 2022
NYFD ambul
SEMI TRUCK
Bicycle
Collection
ems truck
courier
HUMVEE
c3
Ford EC2
FDNY ambul
ATTECHMENT
MOT
Econoline
GARBAGE ST
Pvt Ambula
Dumb Truck
Flatbed
NYPD Traff
US MAIL #1
van truck
leu
TRANSPORTE
TRUCK CRAN
CONSTRUCTI
Electric M
Car carrie
U-HAUL TRU
SWEEPER TR
MOBILITY S
f1
Passanger
COT
Food Trail
Honda HRV
FREIGT VAN
MO-PED
FDNY INSUR
City Bus
U-HAUL
BOX VAN
DL
util truck
PRIVATE
WHEELCHAIR
pickup tru
Food cart
work van
NICE BUS
bmw
ESCOOTERSI
MOWER
EZ GO
WH
DIRTBIKE
UNKNOWN VE
GOV VEHICL
AMBULCANCE
FDNY RIG
COURIER VA
MTA NYC BU
freight To
MTABUS
BACKHOE LO
Ltrl
SKATBOARD
toolcat
REVEL SCOO
Motor home
Crane truc
UNKNOW
Uhaul Truc
NYCFIREDEP
cat payloa
CITY VEHIC
Revel Mo'e
Garage
Ems
ICE CREAM
UHAUL TRUC
BLUE CHEVY
ESCAVATER
excavator
tractor
FDNY AMBU
M21
Fire Appar
SPECIAL PU
bay crane
COMM VAN
gas bicycl
USPS MAILT
conedison
Pedestrian
TRUCK LADD
FIRE TURCK
Moped clas
UHAUL VAN
ORANGE JLG
dirtbike
motorhome
Van Box Tr
fdny ladde
Dirtbike
LIMIT USE
Flat bed
FOOD DELIV
DSNY sanit
STAKE TRUC
scooter ga
Sprinter
BOOM LIFT/
PRIV AMBUL
E SKATEBOA
UNK FEMALE
Scooter no
TOW4
DUMP GR
NYPD ESU T
12 PASS VA
revel
Ambiance
Food Cart
UPS Van
Busv
AMBULAMCE
AERIAL LIF
Motor scoo
DOLLAR VAN
RIDE ON SC
Standing s
Chevy carg
psd
UKNOWN
Fire Depar
MTA Truck
CARGO TRAI
GMC DELIVE
x trailer
constructi
Marked Van
3 Wheel Sc
U HAUL
skate boar
spc
engine
MO PED
Revel Scoo
Moped scoo
2DCP
wheel load
Fed ex van
ENTERPRISE
delivery w
Oil Tanker
GAS MO-PED
Pump
electric m
SEMI-TRAIL
18 wheel
LEFT SCENE
SHORT SCHO
bobcat sno
Utility ca
Pick Up Tr
Gator
PEDI CAB
KOMATSU LO
CAMPER TRA
50 CC Moto
MOPET
MOped
Lateral Tr
Detached T
HOVERBOARD
fedex truc
Segway
Front End
TRANSIT MT
EMT Truck
EMBULANCE
back ho
TRAILER TR
MCR
Trailer no
swingloade
Left scene
Moped bike
Fedex Box
motor scoo
CONTRUCTIO
T350HD
Cherry pic
DSNY TRUCK
E-Unicycle
Mopoed
SchooL bus
Motorizeds
E Skateboa
UHAULWTOWD
UNICYCLE
FedEx van
Trailer tr
Na
MTA WORK T
Stak
Train cart
TOWTRUCK
Dart bike
COMM TRUCK
Van/Truck
boom lift
STAND UP S
FIRE BUS
TOOLCAT FO
B55 excava
Mop Pad
Usps truck
F45
BULL DOZER
FLAT BED
Red vehicl
CITIBIKE
AUTOTRLR T
lift
UHaul Truc
MOPED SCOO
NYC FIRE D
sanitation
NYC TRUCK
N/a
NYC fire t
ECOLINE VA
FDNY PICKU
motorcycle
NEW FLYER
gas bike
e scooter
325FLCR
Refriger T
Fdny truck
FLAT BED T
Push scoot
SLINGSHOOT
sweeper
NYC FDNY
RAZOR SCOO
CAT CATERP
U haul mov
MOTOR DIRT
Util.
Caterpilla
uni e-bike
U Haul Tru
basic psd
FOR VAN
INDUSTRIAL
Pickup Tru
COLLECTION
AMbulance
mta bus  4
ROADROLLER
MOTORED SC
Transit
bucket tru
Rental Tru
SCHOOL VAN
CADET
Uhaul truc
INTE TRUCK
GOLF KART
TOW TRICK
CHERRY PIC
FED EX
CONST EQUI
SNOW PLOWE
freight tr
SUBN TN
Bobcat 216
USPCS Truc
COMMAND PO
Plow  truc
PLOW TRUCK
Command Po
usps self
FREIGHT
LLV MAIL T
police veh
E- MOTOR B
RENTED BOO
EMERGANCY
DEL
Mail Truck
AMBULANCE`
WORKH UTIL
PICKUP TOW
POSTAL SER
wheel barr
Ny Ems
UHAUL BOX
e-sooter
Comm Food
Truck cran
Car traile
street cle
Amazon tru
US Govt ve
MAILTRUCK
LEFT THE S
Escavator
uknown
CAR TRAILE
Fleet
Moped elec
transport
uhaul truc
motorbike
FOLK LIFT
Tilt tande
LAWN MOWER
NYC ACS Va
ESCOOTER
FRIEGHTLIN
e-bike
MOBILE
RAM
FDNY firet
INTERNATIO
HAUL FOR H
cargo van
Moped Scoo
VEHICLE 2
PALFINGER
UKN
John Deere
mopd
NYC FIRETR
Pick Truck
BOB CAT
ACCESS A R
RDS
push scoot
E-Scoter
VAN/TRANSI
HEARSE
AMAZON SPR
GLP050VXEV
Tree cutte
T630 Forkl
ESCOVATOR
Razor scoo
LMA
Dirt bike
Cargo Truc
itas
SWEEPER
TOUR BUS
US Postal
GLNEN
historical
Light trai
FLATBED TR
18 WEELER
ESCAVATOR
armored tr
mail truck
Forklift t
delivery
trailor
ambulence
FEDERAL EX
tow trk
Short Bus
BULDOZER
PICK RD
BLU BUS
NYC DOT
Pumper tru
600AJ
SPINTER VA
TANK WH
Livery Omn
City MTA b
HINO TANK
POSTAL CAR
SCOTTER
GOV
VENDOR CHA
flatbed
GMC
Mobile foo
2 HOR
access a r
00000
RD BLDNG M
omnibus
GAS T
boom crane
Pedic
PALLET JAC
Postal Veh
SKIDSTEERL
MAN L
EMT
SKID
11 PA
TUGGE
BROWN
Sciss
TRIM
FEDER
E-SKA
wheel
spec-
LADDE
Liebh
UTIL WH
RAZOR
mo-pe
Dirt
52? t
TCR
Skate
van a
ART M
sprin
boom
TRA/R
E350
E250
BUMP
Train
Depar
ASPHA
DETAC
E-bik
rep
IP
ALUMI
JOHN
CHURC
E-SCO
JLG L
CAT32
E Bik
Bucke
MAN B
LIFT
HAND
VAN C
CAMPE
BOB C
c7c
speci
TOWIN
POST
MTRIZ
nyc b
ELECR
Excav
ASTRO
ENCLO
Mopen
DSNY
CRWZK
U-TRU
e-BIK
NV CA
T650
SAFET
Cmix
VMS T
JOHND
NV150
Laund
WASTE
Freig
TKP
16M
EMS B
APURP
scava
conv
car c
case
track
72000
Small
city
UNNKO
D
bed
EXPRE
Tr
S/SP
Jeep
armor
HARVE
GARAB
Fdny
PCH
OML/
D1
E
TRAIN
GOV'T
mecha
JohnD
Cater
COMPA
BOXTR
USPST
FRE T
DIG-I
Electronic
anbul
us ma
axo
nyc f
DUNBA
Semi-
E/BIK
frieg
SUBN/
ND
Boom
MILLI
EMS H
Bobby
ken
tour
e BIK
COM.
UTLL
Hand
EPO
e bik
cate
Porta
OBJEC
Chevr
f550
WC
HOTDO
EC2
Us po
(ceme
B5-44
mot s
LP
Uber
FD LA
Com t
Veh L
FD NY
GAS S
trash
spc p
Unk,
SHCOO
Unkn
RED T
CB534
Box
Carri
WHBL
nyc a
Light
Cat
HWY C
RYDER
SUDAN
2TON
HI-LO
hook
Gas T
TRIAL
VAN F
mopet
VAN`
Limou
mta
Passe
00
JLG B
cat 3
Tlr
VANT
JCB40
BOOML
GMC V
vol
TLC v
New Y
pick-
DEPT
013
18 Wh
E PAS
AMULA
LIMO/
TANDU
BLUE
sciss
MOPED/SCOO
DUMPSTER
UD
scaff
red,
utlit
CAT 4
detac
Humme
DOT #
DELV.
G OMR
TRLPM
light
FORTL
BUS M
BUSS
FDny
u.s p
SBN
AP
ES
Light Towe
WANC
ELEC
clean
YLL P
MOVIE
DOT V
uliti
impal
vav
nyc s
PETER
FOOT
TR/C
Van h
econo
DEL T
TOW R
COMM TRK
wesco
bus y
U.S.P
NYC S
boat
DRONE
All-Terrain Vehicle
FLLET
UNK T
GENIE
JUNST
liver
LADD
DELVR
mac 1
DEP V
000
DLEV
Liver
SCISS
UNKWN
Broom
G PAS
ACCEE
INTL
TUCK
SEN
big r
speac
CT
llv
trai
Mp
Polic
scl
foor
MTA T
PZ
SUBN-
UK
Back
gover
NYC f
APP C
utilt
DLVR
WESCO
SANAT
NYPD Signa
ARIEL
NAA
snow
12 fe
C-1
tt
HEIL
COM/A
M/A
trc
FIre
OFF R
VMS SIGN
navig
waste
PISH
Engi
3-Whe
f350
club
rolle
METAL
small trac
nyc m
F350
2003
NYC A
12' o
NYC B
AM/TR
fed e
VAN U
FREIH
LUV
fedex
van s
Mot S
Truc
MECHA
VEND
SMALL
PLATF
Gover
OFFIC
eletr
LULL
UNK.
GREEB
gov v
HOE-L
trc m
JLG M
NYCTA
engin
GENUI
POTAL
Lumbe
Red M
tilla
MAC F
green
YPS
OMNI
train
scho
salt
Govt
silve
DB
REFG/
PALLE
Delie
Skid
cat
towtr
hilow
dot t
TRCIC
box p
john
srf
OMC
QBE i
E1
LAWN
PUSH
dumpe
me/be
GR HS
DOOSK
isuzu
VAS
430
trans
CAR T
wg
Rolli
QMZ
YNK
sem
FireT
vehic
post
P/V
Ecoli
CONT-
8X20
HI LO
unkn
QUAD
Box M
p/u
VAN/
VAM
DEI V
vn
REFRG
SRF
FLTRL
NYC G
left
trial
FED
RORO
yw
NYFD
N?A
UNK L
G  CO
REFQ
US po
DEAGR
car
unkl
USPS#
PARKE
uni
unlno
sub
CHVEY
UNK/L
cab
DLR
BUDGE
REF G
trt
Van/R
NYC-S
2dr
TOWE
UTYLI
KW TR
KME
Gene
eScoo
mini
MI/FU
REAR END
left scene
FedEx Truc
Trailor
SCOOTER/MO
BACKHOE
Commerical
PAYLOADER
e-BIKE
ABMU
Siting mop
Fdny Truck
escooter
16m
SCOOTER SI
straight t
JLG ULTRA
GARGAGE TR
JOHNDEERE
COMMERIAL
E Bike
Access A R
CARAVAN
X COM
SAVANA VAN
trailer no
Electricun
FOOD VENDE
E- SCOOTER
Access a R
Fd truck
FD APPARAT
UNKNOWN CA
C
Hyster For
DSNY SWEEP
SCOOTER BI
Freighntli
BOBCAT/FOR
IC
X
Special Co
USPS Vehic
FRHT-SPR
Carrier
White box
police van
FD Ladder
NE/FL
Fd engine
uhual
ARCIMOTO
RAM COMM.
NYCHA FORK
Minivan
Distributo
FORD EC2
camper
Trailer Fl
white van
UHAUL TRAI
motorized
E Wheelcha
CAT ESCABA
WHITE WORK
USPS box t
ford trans
FDNY bus
Workcart
Pick-up tr
derelict v
Maintenanc
Scooter/Mo
MTA ESU VE
Push cart
White Ford
Car Traile
CHEVY VAN
17
FOGLIFT
MOTOR. SCO
Private Am
4 wheeler
Freight Va
Telehandle
wheelchair
Tracktor T
AMBLUANCE
JJ150T-4A
Fed Ex Van
Transit va
f
FRHT VEHIC
WHITE VAN
P/SH YW
Bull dozer
FD Pickup
DOT TOW TR
Subn/ambul
FDNY Ferra
white truc
black mope
fdny fire
MTA BUS 40
Postal Tru
HOUSE ON W
pickup tow
Department
POSTAL tru
ROLLOFF
A bulance
FDNY SUPER
MOTO-SCOOT
STAND UP s
Box Car
Fedex truc
black
BEYOND SCO
Electrict
Dumpster t
M/C
Bucket tru
NYPD Tow t
LAWNMOWER

### Feature Engineering

#### Temporal Features

The vanilla dataset comes with a number of temporal features pre-included. There are seperate 'Crash Date' and 'Crash Time' fields making temporal analysis possible. With just those two fields however we are able to create several potentially useful features.

By converting the date into date-time format we are able to extract the day of the week, month, week of the year and even holidays to give the data more dimentionality. We can further break down the hourly data into catagories to appropriately handle and recognize traffic patterns such as rush hour.

In [350]:
# Convert 'CRASH DATE' to datetime
df['CRASH DATE'] = pd.to_datetime(df['CRASH DATE'], errors='coerce')

##### Day of the Week

In [351]:
# Add 'day_of_week' feature
df['day_of_week'] = df['CRASH DATE'].dt.day_name()
df['day_of_week'].value_counts()

day_of_week
Friday       335272
Thursday     314429
Tuesday      309875
Wednesday    307565
Monday       300642
Saturday     283731
Sunday       253195
Name: count, dtype: int64

By adding a feature for the day of the week we are able to capture and represent weekly trends in traffic and collision patterns, by looking at the value count for the newly created feature, 'day_of_week', there are noticeably less accidents on weekends.

##### Weekday/Weekend

In [352]:
# Add 'is_weekend' feature
df['is_weekend'] = df['CRASH DATE'].dt.weekday >= 5
df['is_weekend'].value_counts()

is_weekend
False    1567783
True      536926
Name: count, dtype: int64

Since there are significantly less accidents on the weekend as opposed to a weekday, the addition of a binary feature to represent whether any given day is a weekend makes sense.

##### Hour of the Day

In [353]:
df['CRASH HOUR'] = pd.to_datetime(df['CRASH TIME']).dt.hour

/var/folders/c0/_kktl72s23n7b2y70d5d7ldc0000gn/T/ipykernel_68511/3730689538.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['CRASH HOUR'] = pd.to_datetime(df['CRASH TIME']).dt.hour

By adding a feature for the crash hour we are essentially discretizing the time fields which may better represent daily trends in the data set

##### Holidays

In [354]:
import holidays

min_date = df['CRASH DATE'].min()
max_date = df['CRASH DATE'].max()

# Initialize US holidays for relevant years
years = range(min_date.year, max_date.year + 1)
us_holidays = holidays.US(years=years, observed=True)

# Add 'is_holiday' feature
df['is_holiday'] = df['CRASH DATE'].isin(us_holidays.keys()).astype(bool)

# Add 'holiday_name' feature
df['holiday_name'] = df['CRASH DATE'].apply(lambda x: us_holidays.get(x, None))

In [355]:
df['holiday_name'].value_counts()

holiday_name
Veterans Day                                       5474
Columbus Day                                       4789
Labor Day                                          4705
Independence Day                                   4573
New Year's Day                                     4343
Martin Luther King Jr. Day                         4336
Memorial Day                                       4153
Thanksgiving                                       4065
Washington's Birthday                              3952
Christmas Day                                      3218
Veterans Day (observed)                            1985
Independence Day (observed)                        1173
Juneteenth National Independence Day               1157
New Year's Day (observed)                           887
Christmas Day (observed)                            864
Juneteenth National Independence Day (observed)     669
Name: count, dtype: int64

In [356]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,day_of_week,is_weekend,CRASH HOUR,is_holiday,holiday_name
0,2021-09-11,2:39,NaN,NaN,NaN,NaN,NaN,whitestone expressway,20 AVENUE,NaN,...,Sedan,Sedan,NaN,NaN,NaN,Saturday,True,2,False,None
1,2022-03-26,11:45,Manhattan,11101,40.757700,-73.954300,NaN,queensboro bridge,NaN,NaN,...,Sedan,NaN,NaN,NaN,NaN,Saturday,True,11,False,None
2,2022-06-29,6:55,Queens,11357,40.804400,-73.827500,NaN,throgs neck bridge,bridge,bridge,...,Sedan,Pick-up Truck,NaN,NaN,NaN,Wednesday,False,6,False,None
3,2021-09-11,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,Sedan,NaN,NaN,NaN,NaN,Saturday,True,9,False,None
4,2021-12-14,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",saratoga avenue,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,NaN,Tuesday,False,8,False,None

In [357]:
df['is_holiday'].value_counts()

is_holiday
False    2054366
True       50343
Name: count, dtype: int64

It is known that certain holidays correlate with spikes in travel and one could reasonably hypothesize that this would be reflected by statistics.

Using the holidays library (https://pypi.org/project/holidays/) we are easily able to recognize and label objects, in date-time format, to their respective holiday. This quite effectively labels our data with the appropriate holiday however this comes with several new considerations in and of itself. There are noticeably fewer values counted for several of the holidays.

Juneteenth for instance is a relatively newly recognized holiday and may not be recognized as holiday in the earlier dates of the dataset, given that there are datapoints from as early as 2012. 

Furthermore a seperate boolean feature, is_holiday, has been added to binarize the holiday feature.

##### Rush Hour

In [358]:
df['IS_RUSH_HOUR'] =  df['CRASH HOUR'].between(7, 9) | df['CRASH HOUR'].between(16, 18)
df['IS_MORNING_RUSH'] = df['CRASH HOUR'].between(7, 9) 
df['IS_EVENING_RUSH'] = df['CRASH HOUR'].between(16, 18)

There is a clear spike in traffic during rush hour, which encompasses several hours during the morning and afternoon, were people are typically traveling too or from work. We can easily encompass a boolean feature is_rush_hour to capture this trend.

In [359]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,day_of_week,is_weekend,CRASH HOUR,is_holiday,holiday_name,IS_RUSH_HOUR,IS_MORNING_RUSH,IS_EVENING_RUSH
0,2021-09-11,2:39,NaN,NaN,NaN,NaN,NaN,whitestone expressway,20 AVENUE,NaN,...,NaN,NaN,Saturday,True,2,False,None,False,False,False
1,2022-03-26,11:45,Manhattan,11101,40.757700,-73.954300,NaN,queensboro bridge,NaN,NaN,...,NaN,NaN,Saturday,True,11,False,None,False,False,False
2,2022-06-29,6:55,Queens,11357,40.804400,-73.827500,NaN,throgs neck bridge,bridge,bridge,...,NaN,NaN,Wednesday,False,6,False,None,False,False,False
3,2021-09-11,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,Saturday,True,9,False,None,True,True,False
4,2021-12-14,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",saratoga avenue,DECATUR STREET,NaN,...,NaN,NaN,Tuesday,False,8,False,None,True,True,False

#### Geographical Features

##### Intersections

By looking at the folium map in Exploratory Data Analysis it's apparent that the vast majority of accidents have taken place in intersections. In order to improve our model it may be worth adding a feature that accounts for intersections. This can be accomplished by simply checking each datapoint for street and cross street values.

#### Weather

Averse weather conditions pose a serious hazard for drivers. Since our dataset contains fairly detailed information in regards to the time and location of accidents, integrating historical weather data is entirely possible and would likely benefit the model greatly.

#### Collision Specific Features

There is a great deal of information in the dataset that pertains to how severe an accident is, such as the number or people killed and vehicles involved. This affords us an oppurtunity to account for more severe incidents which may impact traffic conditions for longer periods of time opposed to minor fender benders.

##### Number of Vehicles Involved

Since there are already features for vehicle types 1 through vehicle types 5, we can essentialy binarize each of those features to get a tally of the total number of vehicles involved. This may make it possible to remove the vehicle type columns entirely from the dataset without losing the value from the data. 

As noted in the Data Overview there are a large number of missing values for vehicle type 3 through vehicle type 5 which is likely a result of the vast majority of accidents involving 2 or fewer vehicles.

## Exploratory Data Analysis (EDA)

### Folium Maps

import folium
from folium.plugins import MarkerCluster


# Remove rows with NaN values in LATITUDE or LONGITUDE
df = df.dropna(subset=['LATITUDE', 'LONGITUDE'])

# Define the date range for filtering
start_date = '2018-01-01'
end_date = '2018-01-31'

# Filter DataFrame based on date range
mask = (df['CRASH DATE'] >= start_date) & (df['CRASH DATE'] <= end_date)
filtered_df = df.loc[mask]

# Check if there are still NaNs after filtering
assert filtered_df[['LATITUDE', 'LONGITUDE']].notna().all().all(), "There are still NaN values in LATITUDE or LONGITUDE."

# Create a base map
center_lat = filtered_df['LATITUDE'].mean()
center_lon = filtered_df['LONGITUDE'].mean()
m = folium.Map(location=[center_lat, center_lon], zoom_start=12)

# Add MarkerCluster to the map
marker_cluster = MarkerCluster().add_to(m)

# Add accident markers to the map
# May be worth modifying later to distinguish between vehicle type, fatality and or pedestrian hit
for index, row in filtered_df.iterrows():
    folium.Marker(
        location=(row['LATITUDE'], row['LONGITUDE']),
        popup=folium.Popup(f"Date: {row['CRASH DATE'].strftime('%Y-%m-%d')}", parse_html=True)
    ).add_to(marker_cluster)

# uncomment to save the map to an HTML file
# m.save('2012_accident_map.html')
m

## Modeling

In Progress!

## Results

In Progress!

## Conclusion

In Progress!

## References

In Progress!