In [18]:
import pandas as pd

df = pd.read_csv('Automated_Traffic_Volume_Counts_.csv')

print(df.head())

   RequestID      Boro    Yr  M  D  HH  MM  Vol  SegmentID  \
0      34178  Brooklyn  2022  1  4  16   0  111     189074
1      34178  Brooklyn  2022  1  4  16  15   98     189074
2      34178  Brooklyn  2022  1  4  16  30  122     189074
3      34178  Brooklyn  2022  1  4  16  45  102     189074
4      34178  Brooklyn  2022  1  4  17   0  156     189074

                                        WktGeom         street    fromSt  \
0  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End
1  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End
2  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End
3  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End
4  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End

                toSt Direction
0  Ocean View Avenue        NB
1  Ocean View Avenue        NB
2  Ocean View Avenue        NB
3  Ocean View Avenue        NB
4  Ocean View Avenue        NB

In [7]:
df.tail()

,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
1673720,28843,Queens,2019,1,16,23,0,69,48919,POINT (1012479.3578170447 197473.58983416858),FRESH POND ROAD,Gates Avenue,Palmetto Street,SB
1673721,28843,Queens,2019,1,16,23,15,41,48919,POINT (1012479.3578170447 197473.58983416858),FRESH POND ROAD,Gates Avenue,Palmetto Street,SB
1673722,28843,Queens,2019,1,16,23,30,47,48919,POINT (1012479.3578170447 197473.58983416858),FRESH POND ROAD,Gates Avenue,Palmetto Street,SB
1673723,28843,Queens,2019,1,16,23,45,38,48919,POINT (1012479.3578170447 197473.58983416858),FRESH POND ROAD,Gates Avenue,Palmetto Street,SB
1673724,28843,Queens,2019,1,17,0,0,40,48919,POINT (1012479.3578170447 197473.58983416858),FRESH POND ROAD,Gates Avenue,Palmetto Street,SB

In [11]:
df.shape

(1673725, 14)

In [13]:
df.describe()

,RequestID,Yr,M,D,HH,MM,Vol,SegmentID
count,1.673725e+06,1.673725e+06,1.673725e+06,1.673725e+06,1.673725e+06,1.673725e+06,1.673725e+06,1.673725e+06
mean,1.997611e+04,2.014993e+03,6.415632e+00,1.564396e+01,1.150032e+01,2.241263e+01,1.124797e+02,3.869981e+05
std,1.030913e+04,4.223844e+00,3.300526e+00,8.574917e+00,6.921353e+00,1.680135e+01,1.901564e+02,1.581920e+06
min,1.139000e+03,2.000000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,4.400000e+01
25%,1.160500e+04,2.012000e+03,4.000000e+00,8.000000e+00,6.000000e+00,0.000000e+00,1.800000e+01,4.414800e+04
50%,1.964600e+04,2.015000e+03,6.000000e+00,1.600000e+01,1.100000e+01,1.500000e+01,5.900000e+01,8.885900e+04
75%,2.902300e+04,2.018000e+03,9.000000e+00,2.300000e+01,1.700000e+01,3.000000e+01,1.340000e+02,1.538740e+05
max,3.701900e+04,2.023000e+03,1.200000e+01,3.100000e+01,2.300000e+01,5.000000e+01,5.425000e+03,9.017010e+06

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1673725 entries, 0 to 1673724
Data columns (total 14 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   RequestID  1673725 non-null  int64
 1   Boro       1673725 non-null  object
 2   Yr         1673725 non-null  int64
 3   M          1673725 non-null  int64
 4   D          1673725 non-null  int64
 5   HH         1673725 non-null  int64
 6   MM         1673725 non-null  int64
 7   Vol        1673725 non-null  int64
 8   SegmentID  1673725 non-null  int64
 9   WktGeom    1673725 non-null  object
 10  street     1673725 non-null  object
 11  fromSt     1673725 non-null  object
 12  toSt       1672479 non-null  object
 13  Direction  1673725 non-null  object
dtypes: int64(8), object(6)
memory usage: 178.8+ MB

In [21]:
df.columns

Index(['RequestID', 'Boro', 'Yr', 'M', 'D', 'HH', 'MM', 'Vol', 'SegmentID',
       'WktGeom', 'street', 'fromSt', 'toSt', 'Direction'],
      dtype='object')

In [28]:
df.dtypes

RequestID     int64
Boro         object
Yr            int64
M             int64
D             int64
HH            int64
MM            int64
Vol           int64
SegmentID     int64
WktGeom      object
street       object
fromSt       object
toSt         object
Direction    object
dtype: object

In [31]:
df.isnull().sum()

RequestID       0
Boro            0
Yr              0
M               0
D               0
HH              0
MM              0
Vol             0
SegmentID       0
WktGeom         0
street          0
fromSt          0
toSt         1246
Direction       0
dtype: int64

In [34]:
df['Boro'].value_counts()

Boro
Queens           521477
Brooklyn         464011
Manhattan        293985
Bronx            272500
Staten Island    121752
Name: count, dtype: int64

In [36]:
df['Yr'].value_counts()

Yr
2010    132016
2014    130754
2016    129617
2013    128762
2012    128222
2015    124428
2017    123901
2009    122851
2011    120249
2019    115730
2018     98961
2021     85810
2022     78652
2023     70368
2020     40224
2008     32482
2007      8130
2000      1904
2006       664
Name: count, dtype: int64

In [38]:
df['Direction'].value_counts()

Direction
NB    422540
SB    420457
EB    412517
WB    411683
EW      3564
NS      2964
Name: count, dtype: int64

In [ ]:
print(f"Date range: {date_range}")