In [13]:
import requests
import pandas as pd
from datetime import datetime

# Define API key and endpoint
api_key = '987c01dc862a43b18e6a7d7b5a4ea00b'
endpoint = 'https://api.weatherbit.io/v2.0/history/daily'

# Define parameters
params = {
    'city': 'New York',
    'start_date': '2023-07-14',  # Start date in YYYY-MM-DD format
    'end_date': '2024-07-14',    # End date in YYYY-MM-DD format
    'key': api_key
}

# Send GET request
response = requests.get(endpoint, params=params)

# Check response status and content
if response.status_code == 200:
    data = response.json()
    print(f"Response keys: {data.keys()}")  # Print keys to understand the structure

    # Check if 'data' key is in response
    if 'data' in data:
        weather_data = data['data']
        df = pd.DataFrame(weather_data)

        # Display DataFrame and date range
        print(df.head())
        print(f"Date range: {df['datetime'].min()}, {df['datetime'].max()}")
    else:
        print("Key 'data' not found in the response.")
else:
    print(f"Failed to retrieve data: {response.status_code}")
    print(response.json())  # Print detailed error message for debugging

Response keys: dict_keys(['city_id', 'city_name', 'country_code', 'data', 'lat', 'lon', 'sources', 'state_code', 'station_id', 'timezone'])
   clouds    datetime  dewpt  dhi  dni  ghi  max_dhi  max_dni  max_ghi  \
0      73  2023-07-14   20.9   57  448  350      123      919      982
1      62  2023-07-15   22.5   56  447  350      123      919      981
2      86  2023-07-16   24.3   56  446  349      123      919      980
3      32  2023-07-17   22.1   56  445  348      123      919      979
4      50  2023-07-18   21.1   56  444  347      123      919      978

   max_temp  ...  solar_rad  t_dhi  t_dni  t_ghi  t_solar_rad  temp  \
0      29.4  ...        219   1358  10755   8410         5249  25.9
1      31.7  ...        166   1355  10735   8390         3976  26.1
2      26.0  ...         51   1353  10713   8370         1228  24.7
3      31.7  ...        323   1350  10691   8348         7746  27.2
4      28.9  ...        304   1347  10667   8326         7300  25.5

           ts  wind_dir  wind_gust_spd  wind_spd
0  1689307200       100           14.8       3.4
1  1689393600       177           18.5       2.1
2  1689480000       224           10.4       2.3
3  1689566400       232            5.6       2.2
4  1689652800       219           17.0       2.2

[5 rows x 35 columns]
Date range: 2023-07-14, 2024-07-13

In [15]:
df.describe()

,clouds,dewpt,dhi,dni,ghi,max_dhi,max_dni,max_ghi,max_temp,max_temp_ts,...,solar_rad,t_dhi,t_dni,t_ghi,t_solar_rad,temp,ts,wind_dir,wind_gust_spd,wind_spd
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,3.660000e+02,...,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,3.660000e+02,366.000000,366.000000,366.000000
mean,51.150273,7.593989,42.989071,349.860656,233.685792,111.303279,871.565574,749.915301,18.441803,1.705126e+09,...,150.147541,1031.494536,8397.125683,5608.625683,3603.415301,14.501639,1.705076e+09,184.636612,12.769672,2.994262
std,25.084773,8.885816,11.070875,80.421797,93.984972,11.522145,54.525800,206.693754,9.100668,9.141047e+06,...,95.669580,264.727099,1929.749400,2254.891388,2296.112455,8.399191,9.141004e+06,67.905387,5.450724,1.115198
min,1.000000,-11.700000,26.000000,226.000000,96.000000,91.000000,767.000000,419.000000,-2.200000,1.689365e+09,...,10.000000,629.000000,5426.000000,2315.000000,233.000000,-4.700000,1.689307e+09,33.000000,2.800000,1.400000
25%,31.000000,0.725000,32.000000,271.500000,139.250000,101.000000,825.250000,546.250000,10.600000,1.697239e+09,...,76.250000,773.750000,6543.000000,3349.500000,1833.750000,7.300000,1.697191e+09,135.000000,8.900000,2.225000
50%,51.000000,8.200000,44.000000,356.500000,239.000000,115.000000,895.500000,793.500000,18.000000,1.705117e+09,...,131.000000,1051.500000,8554.500000,5740.000000,3147.500000,13.850000,1.705079e+09,202.000000,11.500000,2.700000
75%,72.000000,14.700000,53.750000,424.750000,327.000000,122.000000,919.000000,953.000000,27.075000,1.712975e+09,...,220.000000,1283.250000,10185.500000,7848.000000,5273.000000,22.600000,1.712959e+09,242.750000,16.500000,3.400000
max,96.000000,24.300000,58.000000,458.000000,361.000000,124.000000,925.000000,995.000000,34.400000,1.720904e+09,...,360.000000,1387.000000,11000.000000,8656.000000,8650.000000,29.000000,1.720843e+09,309.000000,32.000000,8.500000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   clouds           366 non-null    int64
 1   datetime         366 non-null    object
 2   dewpt            366 non-null    float64
 3   dhi              366 non-null    int64
 4   dni              366 non-null    int64
 5   ghi              366 non-null    int64
 6   max_dhi          366 non-null    int64
 7   max_dni          366 non-null    int64
 8   max_ghi          366 non-null    int64
 9   max_temp         366 non-null    float64
 10  max_temp_ts      366 non-null    int64
 11  max_uv           366 non-null    float64
 12  max_wind_dir     366 non-null    int64
 13  max_wind_spd     366 non-null    float64
 14  max_wind_spd_ts  366 non-null    int64
 15  min_temp         366 non-null    float64
 16  min_temp_ts      366 non-null    int64
 17  precip           366 non-null    float64
 18  precip_gpm       366 non-null    float64
 19  pres             366 non-null    int64
 20  revision_status  366 non-null    object
 21  rh               366 non-null    int64
 22  slp              366 non-null    int64
 23  snow             366 non-null    float64
 24  snow_depth       366 non-null    float64
 25  solar_rad        366 non-null    int64
 26  t_dhi            366 non-null    int64
 27  t_dni            366 non-null    int64
 28  t_ghi            366 non-null    int64
 29  t_solar_rad      366 non-null    int64
 30  temp             366 non-null    float64
 31  ts               366 non-null    int64
 32  wind_dir         366 non-null    int64
 33  wind_gust_spd    366 non-null    float64
 34  wind_spd         366 non-null    float64
dtypes: float64(12), int64(21), object(2)
memory usage: 100.2+ KB

In [19]:
df.columns

Index(['clouds', 'datetime', 'dewpt', 'dhi', 'dni', 'ghi', 'max_dhi',
       'max_dni', 'max_ghi', 'max_temp', 'max_temp_ts', 'max_uv',
       'max_wind_dir', 'max_wind_spd', 'max_wind_spd_ts', 'min_temp',
       'min_temp_ts', 'precip', 'precip_gpm', 'pres', 'revision_status', 'rh',
       'slp', 'snow', 'snow_depth', 'solar_rad', 't_dhi', 't_dni', 't_ghi',
       't_solar_rad', 'temp', 'ts', 'wind_dir', 'wind_gust_spd', 'wind_spd'],
      dtype='object')

In [27]:
df.isnull().sum()

clouds             0
datetime           0
dewpt              0
dhi                0
dni                0
ghi                0
max_dhi            0
max_dni            0
max_ghi            0
max_temp           0
max_temp_ts        0
max_uv             0
max_wind_dir       0
max_wind_spd       0
max_wind_spd_ts    0
min_temp           0
min_temp_ts        0
precip             0
precip_gpm         0
pres               0
revision_status    0
rh                 0
slp                0
snow               0
snow_depth         0
solar_rad          0
t_dhi              0
t_dni              0
t_ghi              0
t_solar_rad        0
temp               0
ts                 0
wind_dir           0
wind_gust_spd      0
wind_spd           0
dtype: int64

In [30]:
df.dtypes

clouds                      int64
datetime           datetime64[ns]
dewpt                     float64
dhi                         int64
dni                         int64
ghi                         int64
max_dhi                     int64
max_dni                     int64
max_ghi                     int64
max_temp                  float64
max_temp_ts                 int64
max_uv                    float64
max_wind_dir                int64
max_wind_spd              float64
max_wind_spd_ts             int64
min_temp                  float64
min_temp_ts                 int64
precip                    float64
precip_gpm                float64
pres                        int64
revision_status            object
rh                          int64
slp                         int64
snow                      float64
snow_depth                float64
solar_rad                   int64
t_dhi                       int64
t_dni                       int64
t_ghi                       int64
t_solar_rad                 int64
temp                      float64
ts                          int64
wind_dir                    int64
wind_gust_spd             float64
wind_spd                  float64
dtype: object

In [33]:
df['revision_status'].value_counts()

revision_status
final      365
interim      1
Name: count, dtype: int64